@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans');
html,
body
{
    min-height: 100vh;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    color: #413b3f;
}

a
{
    -webkit-transition: color .2s ease;
            transition: color .2s ease; 
    text-decoration: none;

    color: #413b3f;
}
a:hover
{
    text-decoration: none;

    color: #30d596;
}

.first-screen
{
    min-height: 100vh;

    background-image: url(../img/1-min.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer
{
    background: #a08350;
}
.footer .container
{
    max-width: 450px;
    padding: 40px 0;
}
.footer .footer-nav__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer .footer-nav__item
{
    display: inline-block;
}
.footer .social-menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 0;

    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.footer .social-menu__item
{
    display: inline-block;
}
.footer .social-menu .fab
{
    color: #fff;
}
.footer .social-menu .fab:hover
{
    text-decoration: none;

    color: #30d596;
}
.footer .footer-copyrights
{
    margin-bottom: 0; 
    padding: px_to_rem(12px);

    text-align: center;

    color: #fff;
}
