/*#FF0000	#BF3030	#A60000	#FF4040	

#057D9F	#216477	#025167	#39AECF	#61B7CF*/

* { box-sizing: border-box;
 }


html,body {
	font-family: Arial ,sans-serif;
	font: 400 14px/1.5 'Arial', serif;
	
}

body {
	background: #FF4040;	
	color:#A60000;
	font-size: 100%;
}

main {
	display: block;
	width: 1140px;
	padding: 0;
	margin: auto;
}

ul {
	display: block;
	width: 100%;
	margin: auto;
	padding: 10px;
	text-align: center;
	background: white;
	
}

li {
	display: inline-block;
	margin: 10px;
	padding: 0;
	width: 200px;
	height: 200px;
	background: #FF7373;
	text-align: center;
	vertical-align: bottom;
}
.i { 
	display: block;
	width: 90%;
	margin: 5%;
	padding:0;
}

 a { 
 	position: relative;	
 	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
	vertical-align: bottom;
 	text-decoration: none;
	margin: 0;
	padding: 0;
	color: #A60000;
	background: #FF7373;
	

 }

span {
	position: absolute;
	display: block;
	margin-top: -60px;
	padding-left:20px;
	}

em {display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
	vertical-align: bottom;
}


