@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Poppins:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
*{
	box-sizing: border-box;
	margin:0;

}
html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
}
body {
	font-family: 'Poppins', sans-serif, 'Luckiest Guy', cursive;
	background-image: url("../img/0-fon.png");
}


.header {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-image: url("../img/0-fon.png");
	background-repeat: no-repeat;
	background-size: 150%
}

.header-portfolio {

	width: 100%;
	height: 100%;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(345, 10, 71, 0.8);
	border:5px solid #dcdcdc;

}
.container {
	width: 1140px;
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
li, a, p {
	font-family: 'Poppins', sans-serif;
	text-decoration:none;
	list-style: none;
	color: white;
}
.wrap-btn {
	width: 200px;
	height: 200px;
	border:5px solid #f80a8a;
	border-radius: 50%;
	-webkit-box-shadow: 10px 6px 55px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: 10px 6px 55px 0px rgba(0,0,0,0.51);
	box-shadow: 10px 6px 55px 0px rgba(0,0,0,0.51);
}

.btn {
	background-image: url("../img/1-fon.png");
	display: flex;
	width: 100%;
	height: 100%;
	padding: 20px;
	border:2px solid white;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	box-shadow: inset 9px 9px 19px rgba(154, 147, 140, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
	transition: all .2s ease;
	font-size: 2rem;
	color:white;
	opacity: 0.8;
	font-weight: bold;
}
.btn:hover {
	border:2px solid black;
	opacity: 1;
	color: transparent;
	zoom:1.2;
	box-shadow: inset 1px 1px 3px rgba(154, 147, 140, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
}



.portfolio {
	max-width: 1140px;
	margin: auto;
	border:5px solid #f80a8a;
	text-align: center;
}
.footer {
	background-image: url("../img/0-fon.png");
	background-repeat: no-repeat;
	background-size: 150%
}

.social-menu {
	padding: 10px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(345, 10, 71, 0.8);
	border:5px solid #dcdcdc;
}
.social-menu__item {
	margin: 10px;
	list-style: none;
	text-decoration: none;

}
.social-menu__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	transition: all .2s ease;
}
.fab,
.fas {
	font-size: 3rem;
	color:#dcdcdc;
	transition: all .2s ease;
}


.fab:hover {
	zoom:1.2;
	color: #87CEEB;
}

.fas:hover {
	zoom:1.2;
	color:#87CEEB;
}


//GRID
/*
.grid {
	width: 100%;
	margin: auto;
	margin-top: 10px;
}
*/
/* clearfix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}


.grid-item{
	border-radius: 5px;
	background: rgba(345, 10, 71, 0.8);
	width: 24%;
	height: 100%;
	min-height: 280px;
	display: inline-block;
}
.grid-item>.portfolio__link {
	position: relative;
	display:block;
	width: 100%;
	height: 100%;
	min-height: 280px;
	z-index: 5;
	opacity: 0.4;

}

a > .portfolio__img {
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
	max-height: 280px;
	object-fit: cover;
	border: 0.5px solid white;
	box-shadow: inset 1px 1px 3px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
.grid-item>.portfolio__link:hover {
	zoom:1.3;
	z-index: 200;
	padding: 0;
	opacity: 1;
	cursor: pointer;
	transition: .1s ease-out;
}

