*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body
{
    line-height: 1.15; 

    min-height: 100vh;
}

body
{
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 12px;

    margin: 0;
    padding: 10px; 

    background-color: #808080;
}

.container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 1600px;
    margin: auto;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.container__*
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container__rose
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 800px;
    height: 600px;
    margin-right: 10px;

    background: #ff0084;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container__rose .top__a
{
    font-size: 15px; 
    font-weight: 700;

    text-decoration: none;

    color: #ea355a;
}
.container__rose .top__p
{
    font-size: 14px;

    margin: 0;
    margin-bottom: 25px;

    opacity: .6; 
    color: #4b5052;
}
.container__rose .midl__p
{
    font-size: 14px; 

    margin: 0;

    opacity: .6;
    color: #4b5052;
}
.container__rose .form
{
    width: 100%;
    max-width: 461px;
    padding: 15px 15px 20px;

    border-radius: 3px; 
    background-color: #fff;
}
.container__rose .form .long
{
    width: 100%;
}
.container__rose .form .top
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;
    margin-bottom: 25px; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.container__rose .form .top__img
{
    width: 5%;
    height: 5%;
}
.container__rose .form .top__h1
{
    font-size: 1.4rem;

    width: 90%;
    margin: 0; 
    padding-right: 7%;

    text-align: center;

    color: black;
}
.container__rose .form .input__submit
{
    font-size: 16px;
    font-weight: 600;

    width: 100%; 
    margin-bottom: 20px;
    padding: 15px;

    cursor: pointer;

    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #f0f0f0;
    background-color: #ea355a;
    -webkit-box-shadow: 0 5px 5px 0 #bd1962;
            box-shadow: 0 5px 5px 0 #bd1962;
}
.container__rose .form .input__short
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    height: 48px;
    margin-bottom: 15px; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.container__rose .form .input__short :active,
.container__rose .form .input__short :hover,
.container__rose .form .input__short :focus
{
    border: .5px solid #ea355a;
}
.container__rose .form .input__short *
{
    font-size: 16px;

    width: 48%;
    height: 100%; 
    margin-bottom: 20px;
    padding: 15px;

    color: #ea355a;
    border: .5px solid #f0f0f0;
    border-radius: 3px;
    background-color: #f0f0f0;
}
.container__rose .form .input__long
{
    font-size: 16px;

    width: 100%; 
    margin-bottom: 15px;
    padding: 15px;

    color: #ea355a;
    border: .5px solid #f0f0f0;
    border-radius: 3px;
    background-color: #f0f0f0;
}
.container__green
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;
    max-width: 800px;
    margin: auto;

    border: 1px solid #ea355a;
    background: url('../img/main2.png') no-repeat 100% 100%;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
            box-shadow: 0 0 3px rgba(0, 0, 0, .5);

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container__green__form
{
    width: 338px;
    height: 536px;
    padding: 0;

    color: grey; 
    background-color: #fff;
}
.container__green__form__yelow
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;
    height: 72px;
    margin: 0;
    padding: 0 25px 0 25px;

    background-color: #efe4aa;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container__green__form__yelow *
{
    font-family: 'Montserrat', 'Arial', sans-serif; 
    font-weight: 700;
    line-height: 1.4;

    opacity: .5;
}
.container__green__form__yelow .top__h1
{
    font-size: 16px;

    margin: 0;
}
.container__green__form__yelow .top__p
{
    font-size: 34px;

    margin: 0;
}
.container__green__form__yelow .span
{
    font-size: 14px;

    display: block; 

    margin: 0;
}
.container__green__form .content
{
    font-size: 10px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    padding: 50px 25px 20px 25px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.container__green__form .content__label
{
    font-size: 12px; 
    font-weight: 700;

    margin-bottom: 10px;

    opacity: .6;
}
.container__green__form .content__text
{
    width: 100%;
    height: 38px;
    margin-bottom: 34px; 

    color: grey;
}
.container__green__form .content__box2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;
    height: 38px;
    margin-bottom: 34px;

    color: grey; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.container__green__form .content__box2__select__1
{
    width: 60%;
    height: 38px;
    margin: 0;

    color: grey;
}
.container__green__form .content__box2__select__2
{
    width: 35%;
    height: 38px;
    margin: 0;

    color: grey;
}
.container__green__form .content__box3
{
    font-size: 14px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;
    height: 38px;
    margin-bottom: 35px; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.container__green__form .content__box3__text4
{
    width: 30%;
    height: 100%;
}
.container__green__form .content__box3__text5
{
    display: block;

    width: 65%;
    height: 100%;
    margin: 0;
    padding: 15px 0 15px 0;

    text-align: left;
}
.container__green__form .content__box3__text5 .doun__a
{
    color: grey;
    text-shadow: 0 0 1px grey;
}
.container__green__form .content__line
{
    width: 100%;
    margin-top: 0;
    margin-bottom: 28px; 

    color: grey;
}
.container__green__form .content__submit
{
    font-size: 20px;
    font-weight: 900;

    display: block;

    width: 100%;
    height: 40px;
    margin: 0;
    margin-bottom: 10px;

    cursor: pointer; 

    color: #fff;
    border: none;
    background-color: #26b168;
    -webkit-box-shadow: 0 0 3px grey;
            box-shadow: 0 0 3px grey;
}
.container__green__form .content .after__a
{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;

    margin: 0; 

    text-align: center;
    letter-spacing: 1px;

    color: grey;
    text-shadow: 0 0 1px grey;
}
