* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	line-height: 1.15;
}

body {
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 12px;
	background-color: #808080;
	margin: 0;
	padding: 10px;
}

.container {
	width: 1600px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.container__* {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.container__rose {
	width: 800px;
	height: 600px;
	background: #ff0084;
	margin-right: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.container__rose .top__text {
	color: #4b5052;
	font-size: 14px;
	margin: 0;
	margin-bottom: 25px;
	opacity: .6;
}
.container__rose .midl__text {
	color: #4b5052;
	opacity: .6;
	margin: 0;
	font-size: 14px;
}
.container__rose .form {
	max-width: 461px;
	width: 100%;
	padding: 15px 15px 20px;
	background-color: #fff;
	border-radius: 3px;
}
.container__rose .form .top {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	margin-bottom: 25px;
}
.container__rose .form .top__img {
	width: 5%;
	height: 5%;
}
.container__rose .form .top__h1 {
	width: 90%;
	text-align: center;
	padding-right: 7%;
	font-size: 1.4rem;
	color: black;
	margin: 0;
}
.container__rose .form .top__link {
	color: #ea355a;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}
.container__rose .form .input__long {
	border: .5px solid #f0f0f0;
	background-color: #f0f0f0;
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 3px;
	color: #ea355a;
	font-size: 16px;
	width: 100%;
}
.container__rose .form .long__label :hover {
	border: .5px solid #ea355a;
	cursor: pointer;
	-webkit-transition: all .1s ease-in;
	        transition: all .1s ease-in;
}
.container__rose .form .input__short {
	border: .5px solid #f0f0f0;
	background-color: #f0f0f0;
	padding: 15px;
	border-radius: 3px;
	color: #ea355a;
	font-size: 16px;
	width: 100%;
}
.container__rose .form .short {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	height: 48px;
	margin-bottom: 20px;
}
.container__rose .form .short__label {
	width: 48%;
}
.container__rose .form .short__label :hover {
	border: .5px solid #ea355a;
	cursor: pointer;
	-webkit-transition: all .1s ease-in;
	        transition: all .1s ease-in;
}
.container__rose .form .input__submit {
	border: none;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 3px;
	-webkit-box-shadow: 0 5px 5px 0 #bd1962;
	        box-shadow: 0 5px 5px 0 #bd1962;
	cursor: pointer;
	background-color: #ea355a;
	color: white;
	font-size: 16px;
	font-weight: 600;
	width: 100%;
}
.container__rose .form .bottom__text {
	color: #4b5052;
	font-size: 14px;
	margin: 0;
	margin-bottom: 25px;
	opacity: .6;
}
.container__rose .form .bottom__link {
	color: #ea355a;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}
.container__green {
	max-width: 800px;
	width: 100%;
	background: url("../img/main2.png") no-repeat 100% 100%;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	        box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	margin: auto;
	border: 1px solid #ea355a;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.container__green .form {
	width: 338px;
	height: 536px;
	padding: 0;
	background-color: #fff;
	color: grey;
}
.container__green .form .yelow {
	margin: 0;
	padding: 0 25px 0 25px;
	background-color: #efe4aa;
	width: 100%;
	height: 72px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.container__green .form .yelow * {
	font-weight: 700;
	line-height: 1.4;
	opacity: .5;
	font-family: "Montserrat", "Arial", sans-serif;
}
.container__green .form .top__h1 {
	font-size: 16px;
	margin: 0;
}
.container__green .form .top__text {
	font-size: 34px;
	margin: 0;
}
.container__green .form .top__span {
	font-size: 14px;
	margin: 0;
	display: block;
}
.container__green .form .text__before {
	margin-bottom: 10px;
	color: grey;
	opacity: .6;
}
.container__green .form .content {
	width: 100%;
	padding: 50px 25px 20px 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.container__green .form .box1,
.container__green .form .box2,
.container__green .form .box3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	width: 100%;
	height: 38px;
	margin-bottom: 20px;
}
.container__green .form .box2__label--1,
.container__green .form .box2__label--2 {
	position: relative;
}
.container__green .form .box2__label--1::after,
.container__green .form .box2__label--2::after {
	content: "";
	position: absolute;
	display: block;
	width: 14px;
	height: 14px;
	border: 3.5px solid grey;
	border-left-color: transparent;
	border-top-color: transparent;
	-webkit-transform: rotate(45deg) translateY(-100%);
	        transform: rotate(45deg) translateY(-100%);
	top: 55%;
	right: 25px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	pointer-events: none;
}
.container__green .form .box2__label--1 > *,
.container__green .form .box2__label--2 > * {
	background-color: white;
	color: grey;
	font-size: 14px;
	opacity: .6;
	font-weight: 700;
}
.container__green .form .box2__label--1 {
	width: 60%;
	height: 100%;
}
.container__green .form .box2__label--2 {
	width: 38%;
	height: 100%;
}
.container__green .form .box2__select--1:hover,
.container__green .form .box2__select--2:hover {
	border: 1px solid red;
}
.container__green .form .box2__select--1 {
	width: 100%;
	padding: 10px 0;
}
.container__green .form .box2__select--2 {
	width: 100%;
	padding: 10px 0;
}
.container__green .form .box3__label {
	max-width: 30%;
	height: 38px;
}
.container__green .form .box1__input,
.container__green .form .box3__input {
	border: 1px solid grey;
	color: grey;
	width: 100%;
	height: 100%;
	font-size: 14px;
	padding-left: 10px;
	color: grey;
	opacity: .6;
	font-weight: 700;
}
.container__green .form .box1__input:hover,
.container__green .form .box3__input:hover {
	border: 1px solid red;
}
.container__green .form .box3__text {
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: grey;
	opacity: .6;
	font-weight: 700;
	padding: 10px;
}
.container__green .form .box3__text .doun__link {
	color: grey;
	text-shadow: 0 0 1px grey;
}
.container__green .form .content__line {
	width: 100%;
	color: grey;
	margin-top: 0;
	margin-bottom: 28px;
}
.container__green .form .content__input {
	display: block;
	width: 100%;
	height: 40px;
	margin: 0;
	margin-bottom: 10px;
	color: #fff;
	background-color: #26b168;
	font-size: 20px;
	font-weight: 900;
	border: none;
	-webkit-box-shadow: 0 0 3px grey;
	        box-shadow: 0 0 3px grey;
	cursor: pointer;
}
.container__green .form .after__link {
	color: grey;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.5;
	text-shadow: 0 0 1px grey;
	margin: 0;
}
