* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	line-height: 1.15;
}

body {
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 12px;
	background-color: #808080;
	margin: 0;
	padding: 10px;
}

.container {
	width: 1600px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.container__* {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.container__rose {
	max-width: 800px;
	width: 100%;
	height: 600px;
	background: #ec3757;
	/* Old browsers */
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, left bottom, from(#ec3757), color-stop(39%, #f8473f), color-stop(66%, #fd4f32), color-stop(76%, #ff512f), to(#ff512f));
	background: linear-gradient(to bottom, #ec3757 0%, #f8473f 39%, #fd4f32 66%, #ff512f 76%, #ff512f 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	margin-right: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.container__rose .top__text {
	color: #4b5052;
	font-size: 14px;
	margin: 0;
	margin-bottom: 15px;
	opacity: .6;
}
.container__rose .midl__text {
	color: #4b5052;
	opacity: .6;
	margin: 0;
	font-size: 14px;
}
.container__rose .form {
	max-width: 461px;
	width: 100%;
	padding: 15px 15px 25px;
	background-color: #fff;
	border-radius: 3px;
}
.container__rose .form .top {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	margin-bottom: 25px;
}
.container__rose .form .top__img {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.container__rose .form .top__h1 {
	width: 100%;
	text-align: left;
	font-size: 1.4rem;
	color: black;
	margin: 0;
}
.container__rose .form .top__link {
	color: #ea355a;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}
.container__rose .form .long {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	margin: 0;
	width: 100%;
	height: 120px;
	margin-bottom: 25px;
}
.container__rose .form .long__label {
	width: 100%;
	height: 48px;
}
.container__rose .form .long__input {
	border: .5px solid #f0f0f0;
	background-color: #f0f0f0;
	border-radius: 3px;
	color: #ea355a;
	font-size: 16px;
	width: 100%;
	height: 48px;
	padding-left: 10px;
}
.container__rose .form .long__label :hover {
	border: .5px solid #ea355a;
	cursor: pointer;
	-webkit-transition: all .1s ease-in;
	        transition: all .1s ease-in;
}
.container__rose .form .short {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	margin-bottom: 25px;
}
.container__rose .form .short__label {
	width: 48%;
	height: 48px;
}
.container__rose .form .short__label :hover {
	border: .5px solid #ea355a;
	cursor: pointer;
	-webkit-transition: all .1s ease-in;
	        transition: all .1s ease-in;
}
.container__rose .form .short__input {
	border: .5px solid #f0f0f0;
	background-color: #f0f0f0;
	border-radius: 3px;
	color: #ea355a;
	font-size: 16px;
	width: 100%;
	height: 100%;
	padding-left: 10px;
}
.container__rose .form .input__submit {
	border: none;
	outline: none;
	border-radius: 3px;
	-webkit-box-shadow: 0 5px 5px 0 #bd1962;
	        box-shadow: 0 5px 5px 0 #bd1962;
	cursor: pointer;
	background-color: #ea355a;
	color: white;
	font-size: 16px;
	font-weight: 600;
	width: 100%;
	height: 50px;
	margin-bottom: 25px;
}
.container__rose .form .bottom__text {
	color: #4b5052;
	font-size: 14px;
	margin: 0;
	opacity: .6;
}
.container__rose .form .bottom__link {
	color: #ea355a;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}
.container__green {
	max-width: 800px;
	width: 100%;
	min-height: 600px;
	background: #7d7e7d;
	background: radial-gradient(ellipse at center, #7d7e7d 0%, #0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	        box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	margin: auto;
	border: 1px solid #ea355a;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.container__green .form {
	max-width: 338px;
	width: 100%;
	height: 536px;
	padding: 0;
	background-color: #fff;
	color: grey;
}
.container__green .form .yelow {
	margin: 0;
	padding: 10px 25px 10px 25px;
	background-color: #efe4aa;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.container__green .form .yelow * {
	font-weight: 700;
	line-height: 1.4;
	opacity: .5;
	font-family: "Montserrat", "Arial", sans-serif;
}
.container__green .form .top__h1 {
	font-size: 18px;
	margin: 0;
}
.container__green .form .top__text {
	font-size: 38px;
	margin: 0;
}
.container__green .form .top__span {
	font-size: 16px;
	margin: 0;
	display: block;
}
.container__green .form .text__before {
	margin-bottom: 10px;
	color: grey;
	opacity: .6;
}
.container__green .form .content {
	width: 100%;
	padding: 50px 25px 20px 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.container__green .form .box--1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
	margin-bottom: 20px;
}
.container__green .form .box--1__label {
	width: 100%;
	height: 100%;
	line-height: 25px;
}
.container__green .form .box--1__label :hover {
	border: 1px solid blue;
}
.container__green .form .box--1__input {
	width: 100%;
	height: 38px;
	border: 1px solid grey;
	padding-left: 10px;
	color: grey;
	font-size: 14px;
	opacity: .6;
}
.container__green .form .box--2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	width: 100%;
	height: 55px;
	margin-bottom: 20px;
}
.container__green .form .box--2__label--1 {
	width: 65%;
	height: 62px;
}
.container__green .form .box--2__label--1::after {
	top: 38px;
	left: 157px;
}
.container__green .form .box--2__label--2 {
	width: 30%;
	height: 38px;
}
.container__green .form .box--2__label--2::after {
	top: 13px;
	left: 57px;
}
.container__green .form .select--1,
.container__green .form .select--2 {
	width: 100%;
	height: 38px;
	border: 1px solid grey;
	padding-left: 10px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
.container__green .form .box--2__label--1,
.container__green .form .box--2__label--2 {
	position: relative;
	display: inline-block;
	line-height: 25px;
}
.container__green .form .box--2__label--1 > *:hover,
.container__green .form .box--2__label--2 > *:hover {
	border: 1px solid blue;
}
.container__green .form .box--2__label--1::after,
.container__green .form .box--2__label--2::after {
	content: "";
	position: absolute;
	display: block;
	width: 2px;
	height: 2px;
	border: 5px solid grey;
	border-left-color: transparent;
	border-top-color: transparent;
	-webkit-transform: rotate(45deg) translateY(-50%);
	        transform: rotate(45deg) translateY(-50%);
	pointer-events: none;
}
.container__green .form .box--2__label--1 > *,
.container__green .form .box--2__label--2 > * {
	background-color: white;
	color: grey;
	font-size: 14px;
	opacity: .6;
}
.container__green .form .box--3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	width: 100%;
	height: 55px;
	margin-bottom: 20px;
}
.container__green .form .box--3__label {
	width: 20%;
	height: 62px;
	position: relative;
	display: inline-block;
	line-height: 25px;
}
.container__green .form .box--3__label > *:hover {
	border: 1px solid blue;
}
.container__green .form .box--3__input {
	width: 100%;
	height: 38px;
	border: 1px solid grey;
	padding-left: 10px;
	color: grey;
	font-size: 14px;
	opacity: .6;
}
.container__green .form .box--3__text {
	display: inline-block;
	width: 80%;
	height: 38px;
	font-size: 14px;
	color: grey;
	opacity: .6;
	padding: 12px 5px;
	text-align: right;
}
.container__green .form .box--3__text .doun__link {
	color: grey;
	text-shadow: 0 0 1px grey;
}
.container__green .form .content__line {
	width: 100%;
	color: grey;
	margin-top: 0;
	margin-bottom: 28px;
}
.container__green .form .input__submit {
	display: block;
	width: 100%;
	height: 40px;
	margin: 0;
	margin-bottom: 10px;
	color: #fff;
	background-color: #26b168;
	font-size: 20px;
	font-weight: 900;
	border: none;
	-webkit-box-shadow: 0 0 3px grey;
	        box-shadow: 0 0 3px grey;
	cursor: pointer;
}
.container__green .form .bottom__text {
	text-align: center;
}
.container__green .form .bottom__link {
	display: inline;
	color: grey;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.5;
	text-shadow: 0 0 1px grey;
}
