
	основн	темн	светл
					
волна#009999 #006363 #5CCCCC
					
оранж#FFAA00 #A66F00 #FFD073

корал#FF0000 #A60000 #FF7373


body {
    font-family:Open Sans,Arial,Helvetica,sans-serif,SimSun;
    font-size: 14px;
    color: 	#006363;
  
}
.main-menu {
    width: 1100px;
    height: 50px;
    margin: 0px 200px 0px;
    padding: 13px 0px 10px 5px;
    font-family: Helvetica;
    background-color: #009999;
    position: relative;
} 
.stroke {
  
    width: 1100px;
    height: 20px;
    background-color: white;
    color: #FF0000;
    font-size: 20px;
    font-weight:bold;
   
    margin:14px 200px 14px;
    
}
 .form-control{
  width: 280px; 
     
  
}
.serth {
    background-color: #FFAA00;
    padding: 2px;
    border: none;

 }

.main-menu > li {
  position: relative;
  display: inline-block;

  margin: 0px;
  padding: 0px 5px 0px;
  font-size: 16px;  
  
  }
  
 .main-menu a {
text-decoration: none;
color: white;
font-family: Helvetica;
}

.main-menu a:hover {
color: 	#A60000;
 font-weight:bold;   
}

.main-menu .sub-menu {
  position: absolute;
  left: 2px;
  top: 20px;
  display: none;
  width: 200px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: 2px solid #009999; 
  background-color: #009999;
  z-index: 30;
}

.main-menu > li:hover .sub-menu {
 display: block;
    
}
.main-menu >li>.sub-menu> li:hover {background-color: #FFAA00;
font-weight:bold;
}

li {
  padding: 8.8px;
  border-bottom: 1px solid #009999;
}

.main-menu2 {
    position: absolute;
    background-color: white;
  width: 200px;
  margin:4px 200px 0px;
  padding: 0;
  list-style: none;
  border: 2px solid #009999; 
  z-index: 40;
  font-family: Helvetica;
}

.main-menu2 > li {
  position: relative;
  margin-bottom: -1px;
  margin-top: -1px;
 
}

.main-menu2 a {
  color: black;
  text-decoration: none;
    
}
.main-menu2 a:hover {
color: 	#A60000;
 font-weight:bold;   
}

.main-menu2 ul {

  margin: 0;
  padding: 2px 0;
  padding-left: 30px;
  list-style: none;
width: 500px;
}
.main-menu2 .active {
  position: absolute;
  left: 150px;
  top: 3px;
  display: none;
  width: 200px;
   border: 2px solid #009999; 
  margin: 0px;
  padding: 0px;
  z-index: 100;
background-color: white;
  
}

.main-menu2 > li:hover .active {
    display: block;}

.main-menu2 >li > .active> li:hover  {
background-color: #FFAA00;
font-weight:bold;
}

.reklama-left  {
   
    background-color: #FF0000;
    width: 150px;
    height: 915px;
    position: absolute;
    top: 10px;
    left: 52px;
}
.reklama-right {
   
    background-color: #FF0000;
    width: 150px;
    height: 915px;
    position: absolute;
    top: 10px;
    right: 52px;
}
 .blocky {
    border: 1px solid #009999;
    width: 900px;
    height: 720px;
    margin-top: 4px;
    margin-left: 402px;
    }

.block {
    
    border: 1px solid #FFAA00;
    margin: 10px;
    padding: 5px;
    color: red;
    float:left;
     width: 268px;
    height: 90px;
  }
.column0 {
  width: 868px;
    height: 50px; 
    clear: both;
}
h1 {
 text-align:center; 
    color: #A60000;
    letter-spacing:1px;
    padding:0px;
    margin:0px 200px 0px;
}
p {font-family:Tahoma, sans-serif;
    letter-spacing:1px;
    font-size: 14px;
    display: column;
    align-content: center;
    padding:0px;
    margin:0px 200px 0px;
    }
.seo {
   background-color: #5CCCCC;
   
}