*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: none;
}

html,
body
{
    font: inherit; 
    font-size: 100%;
    line-height: 1.15;
}

body
{
    font-size: 100%;
    line-height: 1,5;

    margin: 0;

    color: white;
    background-color: #c5c5c8;
}

.container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    max-width: 800px;
    margin: auto; 

    background: url(..img/gr3.png) no-repeat 50% 50%;

    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product
{
    position: relative;
    z-index: 1; 

    width: 100%;
    max-width: 686px;
    min-height: 392px;

    background-color: #111a28;
}

.logo__img
{
    position: absolute;
    z-index: 2;
    top: 10px;
    top: 25px;
    left: 10px;
    left: 15px; 

    width: 10%;
}

.card__galery__foto
{
    position: absolute;
    z-index: 3;
    top: 120px;
    left: 30px;

    margin-bottom: 68px;
}
.card__galery__foto .a
{
    width: 345px;
    height: 256px;
}
.card__galery__foto .a .img
{
    width: 100%;
    height: 100%;
}

.card .galery__slider
{
    font-size: 100%;

    position: absolute;
    z-index: 4;
    top: 360px;
    left: 172px; 

    width: 71px;
    height: 18px;
}
.card .galery__slider__around
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.card .galery__slider__around__li
{
    margin-bottom: 0;
}
.card .galery__slider__around__li .input
{
    font-size: 100%;
}

.card .info
{
    position: absolute;
    z-index: 5;
    top: 78px;
    left: 442px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 200px;
    height: 300px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.card .info .h2
{
    font-size: 14px;
}
.card .info .p
{
    font-size: 10px;

    margin-bottom: 66px;
}
