
* {
  box-sizing: border-box;
}
html, body {
  font-size: 100%;
  height:100%;
  font-family: Lucida Sans Grande, sans-serif ;
  color:white;
  background:#3399cc;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
}
h1, p {
  font-family: Lucida Sans Grande, sans-serif ;
  padding: 15px 0 0 250px;
}

h1 {  
 font-size: 2rem;
} 

p {  
  font-size: 1.5rem; 
}

.block {
 border: 3px solid #2b81ac;
 width: 100%; height:100%;
 margin: auto;
 padding: 0;
 align-content: center;
}

.ba-sities { 
  border:2px solid white;
  max-width: 1000px; width: 100%;
  height: auto;
  margin: auto;
  padding: 0px;
  text-align: center;
  box-sizing: content-box;
  font-size: 0;
}

.ba-sities li {
  display: inline-block;
  min-width: 10%;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}  

.ba-sities a {  
  border:3px solid white;
  display: block;
  width: 100%; 
  height: 100%;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  padding: 15px;
  margin:0;
  font-family: sans-serif;
  font-size: 34px;
  text-align: center;
 }

.ba-sities li a span {
  display: block;
  font-size: 1.5rem;
  color: rgba(255,255,255,.7);
  opacity: 0.5;
  margin-top: 15px;

}


.ba-sities:hover li a { 
  opacity: 0.5;
} 


.ba-sities li a:hover {
  opacity: 1;
}

.lisbon a {
  background-color: #3399cc;
  width: 500px;
}
.paris a { 
  width: 250px;
  background-color:#33cccc;
}
.belgrad a  { 
  width: 250px;
  background-color:#996699;
}
.moscow a  {
  width: 250px;
  background-color:#c24747;
}
.tel a {
  width: 250px;
  background-color:#e2674a;
}
.cair a {
  width: 250px;
  background-color:#ffcc66;
}
.new-y a {

  width: 250px;
  background-color:#99cc99;
}
.new-d a{
  width: 250px;
  background-color:#669999;
}
.san a{
  width: 500px;
  background-color:#cc6699;
}
.tokyo a {
  width: 250px;
  box-sizing: border-box;
  background-color:#339966;
}
.syd a {
  width: 1000px;
  background-color:#666699;
}