@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: #fff;
}

html,
body
{
    width: 100%;
    min-height: 100vh;
    margin: 0;

    border: 5px solid #fff;
}

body
{
    font-family: 'Lato', sans-serif; 
    font-size: 16px;
}

@font-face
{
    body
    {
        font-family: 'Aleo';

        src: url('../fonts/aleo/aleo-regular-webfont.eot'), url('../fonts/aleo/aleo-regular-webfont.woff'), url('../fonts/aleo/aleo-regular-webfont.woff2'), url('../fonts/aleo/aleo-regular-webfont.ttf'), url('../fonts/aleo/aleo-regular-webfont.svg');
    }
}

.container,
.container__header
{
    width: 100%;
    max-width: 1110px;
    height: 100%;
    margin: auto;
}

.section__header,
.section-2,
.section-3,
.section-4,
.section-5
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 

    width: 100%;
    height: 100%;
    height: 100%;
}

.section__header
{
    min-height: 740px; 

    background-image: url('../img/header-bg.png');
}

.container__header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    max-width: 314px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.block-1
{
        flex-direction: column;

    width: 100%;
    max-width: 315px;
    height: 74px;
    margin-bottom: 50px;

    border: 1px solid #fff; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.searh
{
    font-size: 0;

    position: relative;

    display: block;

    width: 100%;
    min-width: 650px;
    height: 100%;
    min-height: 62px;
    margin-bottom: 120px; 

    -webkit-transform: translate(-25%);
            transform: translate(-25%);

    border: 1px solid #fff;
}

form
{
    font-size: 0; 

    display: inline-block;

    width: 100%;
    height: 62px;
}
form input[type='text']
{
    font-size: 8px;
    font-weight: bold;

    display: inline-block;

    width: calc(100% - 62px);
    height: 100%;
    max-height: 62px;

    color: red;
    border: none;
}
form ::-webkit-input-placeholder
{
    color: red; 
    background-color: rgba(118, 117, 128, .05);
}
form input[type='submit']
{
    display: inline-block;

    width: 62px;
    height: 100%;

    vertical-align: top;

    border: none;
    background-color: #5474fd;
    background-repeat: no-repeat; 
    background-position: 50% 50%;
    background-size: 100%;
}
form input[type='submit']:hover
{
    cursor: pointer;
    -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in; 

    background-size: 100%;
}

input[type='button']
{
    width: 100%;
    max-width: 100px;
    height: 100%;
    min-height: 25px;

    -webkit-transform: translate(100%);
            transform: translate(100%); 

    border: none;
}

.title
{
    font-size: 40px;

    display: block;

    letter-spacing: 2px; 
    text-transform: uppercase;
}

.text-1
{
    display: block;

    letter-spacing: 2px; 
    text-transform: capitalize;
}

.section-2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column; 

    width: 100%;
    height: 100%;
    min-height: 765px;

    background-image: url('../img/choose-bg.png');

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.top-line
{
    z-index: 2;

    width: 100%;
    height: 100%;
    min-height: 80px;
    margin-bottom: 120px; 

    background-color: #5474fd;
}
.top-line .top__box--2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;
    min-height: 80px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.top-line .logo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.top-line .logo__link
{
    display: block;

    text-decoration: none;

    color: #fff;
}
.top-line .navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.top-line .navigation .menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
.top-line .navigation .menu__item
{
    position: relative; 

    list-style: none;
}
.top-line .navigation .menu__link
{
    font-weight: bold;

    display: block;

    -webkit-transition: color .3s ease;
            transition: color .3s ease; 
    text-decoration: none;
    text-transform: capitalize;

    color: #fff;
}
.top-line .navigation .menu__link:hover
{
    color: green;
}

.section-2-inside
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.block-2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 50%;
    height: 100%;
    min-height: 450px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.block-2 input [type='button']
{
    width: 100%;
    max-width: 224px;
    max-height: 60px;
    padding: 0;
}

.block-3
{
    position: relative; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 50%;
    height: 100%;
    min-height: 450px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.block-3__img1
{
    position: absolute;
    top: 0;
    left: 67px;
}

.section-3
{
    width: 100%;
    height: 100%;
    min-height: 700px;

    background-color: #232323;
    background-image: url('../img/house.png');
}

.section-3-inside
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: flex-end;

    width: 100%; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: flex-end;
}

.block-left
{
    width: 50%;
    height: 100%;

    opacity: .5; 
    background-color: #232323;
}

.cover
{
    width: 100%;
    min-height: 370px;
}

.section-4
{
    width: 100%;
    height: 100%;
    min-height: 700px;

    background-color: #232323;
    background-image: url('../img/rocks.png');
}

.section-4-inside
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%; 

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.block-right
{
    width: 50%;
    height: 100%;

    opacity: .5; 
    background-color: #232323;
}

.cover
{
    width: 100%;
    min-height: 370px;
}

.section-5
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;
    min-height: 700px;

    background-image: url('../img/testimonials-bg.png');

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
