/*a:link {color:#FF0000}       unvisited link 
a:visited {color:#00FF00}   visited link 
a:hover {color:#FF00FF}   mouse over link 
a:active {color:#0000FF}   selected link */

* {	
	box-sizing: border-box;
	border: none;
	margin: 0;
	padding: 0;

}

body {
	font-family: Arial, sans-serif;
	font-size: 100%;
	width: 100%;
	height: 100%;
	color: #c2c2c2;
	background-color: rgba(118,117,128,0.05);
}
li { list-style: none; }

h1 { 
	opacity: 0;
	position: absolute;
	z-index: -1;
	transform: translate(-100%);
}


.main {
	width: 80%;
	margin: auto;
	padding: 20px 0;
}

form {

	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 0px;
	margin-bottom: 20px;
	color:#ec5a62;

}

input[type="text"] {	
	display: inline-block;		
	font-size: 7rem;
	font-weight: bold;
	min-height: 128px;
	height: 100%;
	width: calc(100% - 128px);
	margin: 0;
	color:#ec5a62;
	border: none;
}

::-webkit-input-placeholder {
	background-color: rgba(118,117,128,0.05);
	color: #c2c2c2;

}

input[type="submit"] {	

	display: inline-block;
	border: none;
	width: 128px;
	height: 128px;
	vertical-align: top;

	background-image: url('../images/favicon.png'); 
	background-position: 50% 50%;
	background-size: 50%;
	background-repeat: no-repeat;
	
}


input[type="submit"]:hover {
	background-size: 100%;
	cursor: pointer;
	transition: all .2s ease-in;
}


.people {
	width: 100%;
	padding: 0;
	margin: 0;

}

.people-colum,
.people-imag {
	width: 100%;

}

.people-list {
	width: 31%;
	margin-right: 3%;
	padding:0 ;
	display: inline-block;
	font-size: 0.8rem;
	font-weight: bold;
	color: #c2c2c2;
	text-transform: capitalize;
}
.people-list h2 {
	padding: 15px 0 15px 0;
}

.people-list:last-child {
	margin-right: 0;
}

.people-imag {
	margin-bottom: 10px;

}

.people-list li:last-child {
	margin-bottom: 0;
}

.people-imag img { 
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 1px;
	margin: 5px;
}
.peoples .people-imag a img{ 
	border-radius: 50%;
}
.people-list ul .people-imag a {
	width: 100%;
	height:100%;
	display: block;
	background: rgba(118,117,128,0.05);
	position: relative;
	text-decoration: none;
	color: #c2c2c2;
	font-size: 14px;
	border-radius: 5px;
}

.span {
	position: absolute;
	top: 50%;
	margin-top: -10px;

}


li .people-imag a:hover { 
	color:#ec5a62;
	cursor: pointer;
	background:rgba(118,117,128,0.1);
	transition: all .2s ease-in;

}


li .people-imag a:active {
	background: #ec5a62; 
	transition: all .2s ease-in;
	cursor: pointer;

}
