*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;

    border: none;
}

html,
body
{
    font-size: 100%; 
    line-height: 1.1;
}

body
{
    font-family: 'Montserrat', sans-serif;

    margin: 0;

    text-transform: uppercase; 

    background-color: #e2e2e2;
}

.container
{
    width: 100%;
    max-width: 1120px;
    margin: auto;
    padding-top: 40px;
}

.top__text
{
    position: absolute;
    top: -60px;
    right: 0;
}

.row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin-bottom: 2%; 

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.box__width__2__3
{
    display: inline-block;

    width: calc((32% *2) + 2%);
}
.box__width__2__3 :hover
{
    opacity: .7;
}

.box__link__2__3
{
    display: block;

    text-decoration: none; 

    background-color: white;
}

.img__1
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -o-object-fit: cover;
       object-fit: cover;
}

.img__2,
.img__3,
.img__4,
.img__5
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50%;

    -o-object-fit: cover;
       object-fit: cover;
}

.wrapping1
{
    position: relative;

    width: 100%;
    padding-top: 50%;
}

.wrapping2
{
    position: relative;

    width: 100%; 
    padding-top: 60%;
}

.text1
{
    font-size: 26px; 

    color: white;
}

.text
{
    font-size: 18px;

    color: black;
}

.span1
{
    color: #818181;
}

.span2
{
    color: #818181;
}

.box__width__1__3
{
    display: inline-block;

    width: 32%;
}
.box__width__1__3 :hover
{
    opacity: .7;
}

.box__link__1__3
{
    display: block;

    height: 100%; 

    text-decoration: none;

    background-color: white;
}

.load
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: auto;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.text__6
{
    display: inline-block; 

    color: grey;
}

.img__6
{
    margin-right: 10px;
}
