* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;


	
}
html, body {
	
	font-size: 0;

}
body {

	font-family: 'Robotto', 'Realeway', sans-serif;
	font-size: 18px;
	background-color: #eee;
}

.content {
	width: 1198px;
	margin: auto;
}

h1 {
font-family: Roboto;
color:  #303030;
font-size: 48px;
font-weight: 900;
line-height: 27px;
text-align: left;
}

.nav {
display: block;
width: 100%;
margin-top: 15px;	
}

.logo {
	display: inline-block;
	width: 38%;
	margin: 0;
	padding: 0;

}

.menu {
	display: inline-block;
	width: 60%;
	margin: 0;
	padding: 0;
	text-align: right;
}

.menu__item {
	display: inline-block;
	list-style: none;
	width: 30%;
	text-align: right;

}

.menu a {
font-family: Roboto;
color:  #303030;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: right;
text-decoration: none;
}



.decor {font-family: FontAwesome;
color:  #303030;
font-size: 18px; 
font-weight: 1000;
line-height: 10px; 

}
.decor__1 {
	list-style: none;
}
.menu__item3 {
	display: inline-block;
	list-style: none;
	text-align: right;
	width: 10%;
	
}

/*точечки {
	border-radius: 50%;
background-color:  #303030;
width: 11px;
height: 11px;
}
*/
.slider__box {
	width: 100%;
}
.slider__box__content {
	
	width: 50%;
}
.slider__img {
	width: 50%;
}

h2 {
font-family: Raleway;
color:  #303030;
font-size: 150px;
font-weight: 900;
line-height: 150px;
text-align: right
}

p .info {
font-family: Roboto;
color:  #ffffff;
font-size: 30px;
font-weight: 900;
text-align: right;
}


.slider__text__p {
	font-family: Roboto;
color:  #303030;
font-size: 24px;
font-weight: 300;
line-height: 36px;
text-align: right;
}

.slider__text__span {
	font-family: Roboto;
color:  #e10011;
font-size: 24px;
font-weight: 700;
line-height: 36px;
text-align: right;
}

.text__h3 {
	font-family: Raleway;
color:  #303030;
font-size: 48px;
font-weight: 900;
line-height: 150px;
text-align: center;
}

.info__text__2 {
font-family: Raleway;
color:  #303030;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
}
.inform{
	font-family: Raleway;
color:  #303030;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
}

.slider__box img {
	text-align: center;
}
.slider__box {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;

}
.slider__box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.slider__img {
	flex-basis: 50%;
}
 
.slider__box__content {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	text-align: right;
}







.gallery {
	background: white;
	width: 1198px;
	height: 1193px;
	padding: 0;
}

.my__flex__container {

	width: 1077px;
	height: 829px;
	margin: auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
}

.my__flex__block1 img {background: green;
	width: calc((1077px - (1077px / 3)) - 20px);
	margin: 10px;
	height: 388px;
}

 .my__flex__block img {background: green;
	width: calc((1077px / 3) - 20px);
	height: 388px;
	margin: 10px;
}

.my__flex__container a {
	width: 100%;
}

/*tubus {width: 702px;
height: 70px;}*/
/*
productman news {font-family: Raleway;
color:  #303030;
font-size: 48px; 
font-weight: 900;
line-height: 150px; 
text-align: center;}*/

/*lorem {font-family: Raleway;
color:  #303030;
font-size: 18px;
line-height: 24px;
text-align: center;}*/

/*enter you email address {
	font-family: Raleway;
color:  #979797;
font-size: 18px;
font-weight: 600;
font-style: italic;
line-height: 24px;
text-align: center;
}*/

/*SUBSCRIBE {
	font-family: Roboto;
color:  #ffffff;
font-size: 18px;
font-weight: 900;
text-align: right;

 Встроенный стиль 
font-family: FontAwesome;
color:  #ffffff;
font-size: 18px;
font-weight: 400;
text-align: right;
}*/
/*
COPYRYN
font-family: Raleway;
color:  #979797;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;

 Встроенный стиль 
font-family: Raleway;
color:  #303030;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
*/