.map {

	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	z-index: -1;

	#ba-map {
		height: 450px;
		position:relative;
		z-index: -1;
	}
	#map {
		height: 450px;
		width: 100%;
	}

}
