.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto',sans-serif;

	.header__top {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;




		.logo__link {
			text-decoration: none;
			color:black;
			font-size: 3rem;

		}

		.logo__link:hover {

			cursor: pointer;
			transition: color .2s ease-out;

		}

		.nav__header {
			display: flex;
			flex-direction: row;
			justify-content:space-between;
			align-items: center;
			list-style: none;
			font-family: 'Roboto',sans-serif;

		}
	}

}