<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<p class="footer-copyrights order-xl-1">
					@ 2014 <strong>tulus</strong>driyo. All Rights Reserved
				</p>
			</div>
			<div class="col-sm">
				<ul class="soc-team">
					<li class="social-menu__item">
					<a href="https://www.facebook.com/profile.php?id=100009716407183" class="social-menu__link" target="_blank">
						<i class="fab fa-facebook-f"></i>
					</a>
				</li>
				<li class="social-menu__item">
					<a href="#" class="social-menu__link" target="_blank">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li class="social-menu__item">
					<a href="#" class="social-menu__link" target="_blank">
						<i class="fab fa-youtube"></i>
					</a>
				</li>
				<li class="social-menu__item">
					<a href="#" class="social-menu__link" target="_blank">
						<i class="fab fa-pinterest"></i>
					</a>
				</li>
				<li class="social-menu__item">
					<a href="#" class="social-menu__link" target="_blank">
						<i class="fab fa-instagram"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</footer>