		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-2">
						<div class="header__top">
							<a class="logo__link" href="#" ><img class="header__logo" src="img/logo-beetroot.png" alt="#"></a>
						</div>
					</div>

					<div class="col-8 offset-2">
						<ul class="nav__header">
							<li><h3><a href="#" class="nav__link">home</a></h3></li>
							<li><h3><a href="section-about" class="nav__link">about</a></h3></li>
							<li><h3><a href="#section-servises" class="nav__link">servises</a></h3></li>
							<li><h3><a href="#section-works" class="nav__link">works</a></h3></li>
							<li><h3><a href="#contact" class="nav__link">contacts</a></h3></li>
						</ul>
					</div>

				</div>
				<div class="row">
					<div class="offset-2 col-8">

						<div class="header__text">
							<h1>creative digital project</h1>
							<h4>duis mollis, est non commodo luctus, nisi erat portfitor Ligula, eget lacinia odio san nec elit.</h4>
						</div>
					</div>
				</div>
			</div>
		</header>