<section class="map" id="ba-map">
	<div class="wrap-map">
		<div id="map">
		</div>
	</div>
		<form id="map-form">
<!--1-->
			<label for="name">Name (4 to 8 characters):</label>

			<input type="text" id="name" name="name" required
			minlength="4" maxlength="8" size="10">

<!--2-->
			<label for="name">Name (4 to 8 characters):</label>

			<input type="text" id="name" name="name" required
			minlength="4" maxlength="8" size="10">

<!--TEXTAREA-->

			<label for="story">Tell us your story:</label>

			<textarea id="story" name="story"
			rows="5" cols="33">
			It was a dark and stormy night...
		</textarea>
	</form>

</section>