<section class="map" id="ba-map">
	<div class="wrap-map">
		<div id="map">
		</div>
	</div>
		<form id="map-form">
<!--1-->
			<!-- <label for="name">Name (4 to 8 characters):</label> -->
<div class="top">
			<input type="text" id="name1" name="name" required
			minlength="4" maxlength="8" size="10">

<!--2-->


			<input type="text" id="name2" name="name" required
			minlength="4" maxlength="8" size="10">
</div>

<!--TEXTAREA-->

<!-- 			<label for="story">Tell us your story:</label> -->

			<textarea id="story" id="name3" name="story"
			rows="5" cols="33">
			It was a dark and stormy night...
		</textarea>
	</form>
	<a class="btn-map" href="#">SEND MESSAGE</a>

</section>