<section class="section-about" id="section-about">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="about-h2">
					<span></span>
					<h2>about us</h2>
				</div>
				<div class="img-wrapp">
				<img class="about-img" src="img/img-about.png" alt="#">
			</div>
			</div>
			<div class="offset-1 col-7">
				<div class="about-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat obcaecati necessitatibus aperiam saepe odio commodi nihil, quod l quaerat ullam sunt nisi saepe laborum rem </p>
				<p>fugit vitae laboriosam nihil! Dicta iste minus, iusto suscipit accusamus facilis esse dolorum, deserunt consectetur, debitis maiores sit! Voluptates consequatur quas adipisci alias tenetur, magni amet! Esse, cupiditate.</p>
				</div>
			</div>
		</div>
	</div>
</section>

