<section class="section-servises" id="section-servises">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4"><div class="servises-1">
				<h3>graphic design</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, ea inventore. Ex nesciunt dolorum explicabo.
				</p>
			</div>
			</div>
			<div class="col-12 col-md-4"><div class="servises-2">
				<h3>graphic design</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, iusto incidunt aspernatur eaque ipsam nesciunt.
				</p>
			</div>
			</div>
			<div class="col-12 col-md-4"><div class="servises-3">
				<h2>graphic design</h2></div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-4"><div class="servises-4">
				<h3>graphic design</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, veritatis odit repellat ea. Quibusdam, totam.
				</p>
			</div>
			</div>
			<div class="col-12 col-md-4"><div class="servises-5">
				<h3>graphic design</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nulla, facere. Dolor, est vero laudantium.
				</p>
			</div>
			</div>
			<div class="col-12 col-md-4"><div class="servises-6"><p>-Borat-</p></div></div>
		</div>
	</div>
</section>

