<section class="section-about" id="section-about">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="about-h2">
					<span></span>
					<h2>about us</h2>
				</div>
				<div class="img-wrapp">
				<img class="about-img" src="img/img-about.png" alt="#">
			</div>
			</div>
			<div class="col offset-1 col-7">
				<div class="about-text">
				<p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing elit</strong>. Fugiat obcaecati necessitatibus aperiam saepe odio commodi nihil, quod l quaerat ullam sunt saepe odio commodi nihil, quod l quaerat quod l quaerat ullam sunt saepe odio commodi nihil, saepe laborum rem quod l quaerat</p>
				<p><strong>Fugit vitae laboriosam</strong> nihil! Dicta iste minus, iusto suscipit accusamus facilis esse dolorum, deserunt consectetur, debitis maiores sit!Voluptates consequatur quas adipisci aliste minus, iusto suscipit accusamus facilis esse dolorum,ias tenetur. Dicta iste minus, iusto suscipit accusamus facilis esse dolorum, deserunt consectetur, debitis maiores sit!Voluptates consequatur quas adipisci aliste minus, iusto suscipit <em>magni amet</em>! Esse, cupiditate.</p>
				</div>
				<a href="#section-about" target="_blank" class="btn">Learn More</a>
			</div>
		</div>
	</div>
</section>

