.footer {
	background-color: #9f9acf;
	padding: 90px 0;


	.footer-copyrights{
		color:$white;

		margin-bottom: 0;
	}
	.soc-team {
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: #9f9acf;
		min-height: 70px;

	}
	.social-menu__link {
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.fab {
		display: inline-block;
		font-size: 1.3rem;
		color:#9f9acf;

	}

}