.section-servises {
.col-12, .col-md-4 {padding: 0;}
	.servises-1,
	.servises-2,
	.servises-3,
	.servises-4,
	.servises-5,
	.servises-6{
		width: 100%;
		min-height: 400px;
		padding: 0;
		margin: 0;

	}
	h2, h3, p{
		text-align: center;
		vertical-align: middle;
	}
	h3 {
		padding-top: 175px;
	}
	h2 {
		padding-top: 210px;
	}
	p {
		margin-bottom: 0;
	}

}
.servises-2,
.servises-4 {
	background: #ebebeb;
}
.servises-1,
.servises-5 {
	background: #dbdbdb;
}
.servises-3,
{
	background:#9f9acf;
}
.servises-6 {
	background-image: url("../img/img-about.png")
}