.section-works {
	background-color: #9f9acf;
	padding: 50px;

	h2 {padding: 10px 0;
		text-transform: capitalize;
	}
	.carousel-inner {
		display: inline-block;
	}
	.carousel-control-prev {@media(max-width: 769px) {display:none;}
	left: -150px;
}
.carousel-control-next {@media(max-width: 769px) {display:none;}
right: -150px;
}

.carousel-indicators li {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border:3px solid #dbdbdb;
	background-color: transparent;
	&.active {
		background-color: #42368E;
	}
	&:hover {
		background-color:#dbdbdb ;
		opacity: 0.5;
	}
}
.carousel-indicators {
	bottom: -75px;
}
.row {margin-bottom: 100px;}
.btn {


	&:hover {
		background-color: #42368E;
		opacity: 0.5;
		border-color:transparent;
	}
}
}