*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body
{
    min-height: 100vh;
}

body
{
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-size: 18px;

    color: #303030;
    background-color: #eee;
}

.container
{
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

.header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
}

.logo__link
{
    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out;
    text-decoration: none;
    text-transform: uppercase;

    color: black;
    color: #303030;
}

.nav__header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;

    list-style: none; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.nav__link
{
    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out;
    text-decoration: none;

    color: black;
    color: #303030;
}

.exit
{
    list-style: none;
}

.strong
{
    font-weight: 900;
    line-height: 8px;

    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out;

    color: #303030;
}

.gradient
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;

    background-image: url('..img/gradien.png');
    background-position: center;
    background-size: 100%;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.slider
{
    width: 50%;

    text-align: right;
}

.slider__h2
{
    font-weight: 900;
}

.slider__list
{
    width: 100%;
    margin: 0;
    padding: 0;
}

.slider__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%; 

    list-style: none;

    text-align: center;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.slider__link
{
    font-weight: 900;

    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out;
    text-decoration: none;

    color: #303030;
}

.galery
{
    width: 100%;
    margin: 0;
    padding: 25px;

    background-color: white;
}

.info__panel
{
    width: 100%;

    text-align: center;
}

.gallery__box
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;

    border: 1px solid red; 

    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.galery__list
{
    width: 100%;
}

.galery__item
{
    display: inline-block;

    width: 30%; 

    list-style: none;
}

.galery__link
{
    display: block;

    margin: 0;
    padding: 0; 

    text-decoration: none;

    border: 1px solid red;
}

.galery__img
{
    width: 100%; 
    margin: 0;
    padding: 0;
}
