.fourth {
	height: 100%;
	width: 100%;
	background-image: url("../img/rocks.png");
	background-repeat:no-repeat;
	background-size: cover;
	margin-top: -25px;

	.row {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-top: 150px;
	}

	.block-right {
		width: 50%;
		height: 100%;
		background-color: $black;
		opacity: 0.5;
		padding: 20px;

	}
}

.span {
	display: block;
	margin-bottom: 40px;
}
.title-2 {
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 40px;
	font-weight: $font-weight-text;
	line-height: 1.6;
}
