.how
{
	background: $dark-grey-color;
	z-index: 5;
}
.row
{
	justify-content: center;
	padding: 70px 0 100px;
}

.how__list
{
	display: flex;
    justify-content: space-around;
    width: 100%;
	margin: auto;

}

.how__list::before {
    content: "";
    display: block;
    width: 100%;
    max-width: 700px;
    height: 60px;
    background: url(../img/wave.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how__item
{
	text-align: center;
	display: inline-block;
	width: 250px;
}

.wrapper-icon {
	position: relative;
	z-index: 1;
	padding-top: 37%;
	display: block;

	& > * {
		@include overlay;
		object-fit: content;

	}
}
//?
.link {

&__searh {
		background-image: url("../img/searh.png");
		background-repeat:no-repeat;
	 	background-position:center;
	 	.text-icon {
	 		padding-top: 37%;
	 	}
	}

&__checke {
		background-image: url("../img/checke.png");
		background-repeat:no-repeat;
	 	background-position:center;
	 	.text-icon {
	 		padding-top: 37%;
	 	}
	}

&__finger	{
		background-image: url("../img/finger.png");
		background-repeat:no-repeat;
	 	background-position:center;
	 	.text-icon {
	 		padding-top: 37%;
	 	}
	}
}
//?