/*
 * ========================================
 * Content
 * ========================================
 */

.page-content {
    min-height: 450px;
}

.page-content-top-padded {
    padding-top: 50px;
}
@media (max-width: 768px){
    .page-content-top-padded {
        padding-top: 25px;
    }
}
@media (max-width: 992px) and (min-width: 768px){
    .page-content-top-padded {
        padding-top: 105px;
    }
}

.page-content-bottom-margin {
    margin-bottom: 60px;
}
.link-left-padded {
    padding-left: 12px;
}






.body_first_text {display: none;}






/*
 * ========================================
 * Forms
 * ========================================
 */

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}



.text-align-right-responsive {
}
@media (min-width: 992px){
    .text-align-right-responsive {
        text-align: right
    }
}

.centered {
    text-align: center;
}

.not-implemented-modal {z-index: 3000;}
.not-implemented-modal .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}
@media (min-width: 992px){
    .not-implemented-modal .modal-dialog {
        padding: 50px;
    }
}

.not-implemented-modal .modal-dialog .modal-content {height: 100%;}

.not-implemented-modal .modal-dialog .modal-title {
    color: #999;
}

.not-implemented-modal .modal-dialog .modal-body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-bottom: 50px;
}

.not-implemented-modal .modal-dialog .modal-body .close-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.not-implemented-modal .modal-dialog .modal-body .modal-body-centered {
    text-align: center;
    width: 90%; margin: auto;
    padding-top: 20px;
}
@media (min-width: 992px){
    .not-implemented-modal .modal-dialog .modal-body .modal-body-centered {
        width: 75%; margin: auto;
        padding-top: 100px;
    }
}

.not-implemented-modal .modal-dialog .modal-body .modal-body-centered .social-buttons {
    margin-top: 40px;
}

@media (max-width: 992px){

    .not-implemented-modal .modal-dialog .modal-title {
        font-size: 12px;
    }

    .not-implemented-modal .modal-dialog .modal-body h3 {
        font-size: 18px;
        font-weight: bold;
    }

}

.social-buttons ul.popup-social-icons {
    display: block;
    list-style: none; margin: 0; button: 0; padding-left: 5px;
    width: 230px; margin: auto;
}
.social-buttons ul.popup-social-icons li {display: block; float: left; margin-right: 5px;}


@media (min-width: 992px){


    .social-buttons ul.popup-social-icons {
        padding-left: 10px;
        width: 260px;
    }
    .social-buttons ul.popup-social-icons li {margin-right: 10px;}

}


.popup-social-icons li.social-icon {
    width: 50px; height: 50px;
    display: block;
    line-height: 50px;
    }
.popup-social-icons li.social-icon > a {
    width: 45px; height: 45px;
    display: block;
    margin: 0; padding: 0; line-height: 45px; text-align: center;
    border-radius: 50%;
    color: #FFF !important;
    font-size: 24px;
}
.popup-social-icons li.social-icon a:hover {
    opacity: 0.8;
}

.popup-social-icons li.social-icon.social-icon-facebook a {background-color: #3b5998;}
.popup-social-icons li.social-icon.social-icon-twitter a {background-color: #00aced;}
.popup-social-icons li.social-icon.social-icon-vkontakte a {background-color: #45668e;}
.popup-social-icons li.social-icon.social-icon-instagram a {background-color: #3f729b;}
.popup-social-icons li.social-icon.social-icon-odnoklassniki a {background-color: #ed812b;}













.btn-custom-styled {position: relative; border-radius: 5px;}
.btn-custom-styled .darken {
    position: absolute;
    bottom: 7px; left: 0; width: 100%; height: 15px;
    background: rgba(22,22,22,0.25);
    background: -moz-linear-gradient(bottom, rgba(22,22,22,0.25) 0%, rgba(22,22,22,0) 100%);
    background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(22,22,22,0.25)), color-stop(100%, rgba(22,22,22,0)));
    background: -webkit-linear-gradient(bottom, rgba(22,22,22,0.25) 0%, rgba(22,22,22,0) 100%);
    background: -o-linear-gradient(bottom, rgba(22,22,22,0.25) 0%, rgba(22,22,22,0) 100%);
    background: -ms-linear-gradient(bottom, rgba(22,22,22,0.25) 0%, rgba(22,22,22,0) 100%);
    background: linear-gradient(to top, rgba(22,22,22,0.25) 0%, rgba(22,22,22,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#222222', GradientType=0 );
}
.btn-custom-styled .darken-under {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(22,22,22,0.25);
    position: absolute;
    bottom: 0; left: 0; width: 100%; height: 7px;
}
.btn-custom-styled .darken-highlight {
    position: absolute;
    bottom: 0; left: 0; width: 100%; height: 10px;
    background: rgba(255,255,255,0.25);
    background: -moz-linear-gradient(bottom, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(255,255,255,0.25)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(bottom, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(bottom, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0 );
}
.btn-custom-styled .highlight {
    position: absolute;
    top: 9px; left: 0; width: 100%; height: 4px;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 4px 2px rgba(255,255,255,0.5);
}
.btn-custom-styled .button-content {font-size: 18px; font-style: italic; font-weight: bold;}
.btn-custom-styled .button-content img {height: 24px; width: auto;}





.overflow-hidden {
    overflow: hidden;
}


.half-opacity {
    opacity: 0.5;
}