/*


Old used:
Brand 11a09e - rgba rgb(17,160,158)
Brand darken 028392


New designers colors:
Brand blue - 11a09e - 17,160,158
Brand red - f05865 - 240,88,101


*/






/* Navigation - Language form */

/*
.language-form {}
.language-form .btn-default {
    background-color: #FFF;
    border-color: #FFF;
    color: #03a0b3;
}

.language-form .btn-default:active,
.language-form .btn-default.active,
.language-form .open > .dropdown-toggle.btn-default {
    background-color: #FFF;
    border-color: #FFF;
    color: #03a0b3;
}

.language-select{
    width: 150px !important;
    margin-top: 7px;;
}
*/







.page-all {
    padding-top: 70px;
}
@media (max-width: 992px){
    .page-all {
        padding-top: 150px;
    }
}
/*
@media (max-width: 768px){
    .page-all {
        padding-top: 210px;
    }
}
*/
@media (max-width: 480px){
    .page-all {
        padding-top: 120px;
    }
}

@media (max-width: 360px){
    .page-all {
        padding-top: 110px;
    }
}



.minimal-height-page {
    min-height: 700px;
    margin-bottom: 40px;
}








/*
 * ========================================
 * Navigation
 * ========================================
 */


.navbar-main {
    margin-bottom: 0;
}

.navbar .navbar-header {
    position: relative;
    z-index: 1600;
}

.navbar .navbar-brand {
    position: absolute;
    top: 0; left: 0;
    width: 220px; height: 50px;
    float: none;
}
@media (max-width: 460px){
    .navbar .navbar-brand {
        width: 127px;
    }
}


.navbar-svg-icon {
    height: 28px; width: auto;
    margin-bottom: 4px;
}



.navbar.navbar-main {
    min-height: 75px;
    padding: 10px 0 10px 0 ;
    border: 0;
    border-top: 5px solid #11a09e;
    background-color: #FFF;
}
@media (min-width: 992px){
    .navbar.navbar-main {
        border-bottom: 1px solid rgba(17,160,158, 0.25);
    }
    .navbar-main {
        box-shadow: 0 -1px 5px 2px rgba(17,160,158, 0.25);
    }
}
@media (max-width: 480px){
    .navbar.navbar-main {
        min-height: 55px;
        padding-bottom: 0;
    }
}

.navbar.navbar-main a.navbar-brand {
    display: block;
    height: 50px;
    padding: 0;
    margin: 0;
    line-height: 50px;
}
@media (min-width: 768px){
    .navbar.navbar-main a.navbar-brand {
        margin-right: 40px;
    }
}



.navbar.navbar-main a.navbar-brand img {height: 50px; width: auto;}
.navbar.navbar-main a.navbar-brand:hover img {opacity: 0.8;}
@media (max-width: 480px){
    .navbar.navbar-main a.navbar-brand img {
        height: 35px;
        line-height: 35px;
    }
}


.navbar.navbar-main .navbar-collapse {
    position: relative;
}
.navbar.navbar-main .navbar-nav.buttons-nav {
    height: 40px;
    line-height: 40px;
    margin-top: 5px;

    position: absolute;
    left: 230px;
    right: 230px;
    top: 0;
}
.navbar.navbar-main .navbar-nav.buttons-nav li {
    border-right: 1px solid rgba(17,160,158, 0.5);
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.navbar.navbar-main .navbar-nav.buttons-nav li:first-child {border-left: 1px solid rgba(17,160,158, 0.5);}


.navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__cities {
    width: 20%;
    overflow: hidden;
    text-align: left;
}
.navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__cities a {
    padding: 0 5px;
}
@media(max-width: 1200px){
    .navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__cities {
        text-align: center;
    }
    .navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__cities a {
        padding: 0;
        width: 100%;
        display: block;
    }
}


.navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__vacancies {
    width: 17%;
}
.navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__forum{
    width: 15%;
}
.navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__favourites {
    width: 17%;
}
.navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__cart {
    width: 15%;
}
.navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__login-and-profile {
    width: 16%;
}



.navbar.navbar-main .navbar-nav.buttons-nav li a {
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    width: 100%;
}
@media (max-width: 1200px){
    .navbar.navbar-main .navbar-nav.buttons-nav li a {
        padding: 0;
    }
}
@media (max-width: 1200px){
    .navbar.navbar-second .navbar-nav.buttons-nav li a {
        padding: 0;
    }
}


.navbar.navbar-main .navbar-nav.buttons-nav li.inverse {}
.navbar.navbar-main .navbar-nav.buttons-nav li.inverse a {color: #f05865;}
.navbar.navbar-main .navbar-nav.buttons-nav > li > a {color: #11a09e; background-color: transparent;}
.navbar.navbar-main .navbar-nav.buttons-nav li.active {}
.navbar.navbar-main .navbar-nav.buttons-nav li.active a {}
.navbar.navbar-main .navbar-nav.buttons-nav li:hover {}
.navbar.navbar-main .navbar-nav.buttons-nav li:hover a {opacity: 0.7;}
.navbar.navbar-main .navbar-nav.buttons-nav li:active,
.navbar.navbar-main .navbar-nav.buttons-nav li:focus {}
.navbar.navbar-main .navbar-nav.buttons-nav li:active a,
.navbar.navbar-main .navbar-nav.buttons-nav li:focus a {}

.navbar.navbar-main .navbar-nav.buttons-nav .inactive > * {
    opacity: 0.40;
}
.navbar.navbar-second .navbar-nav.buttons-nav .inactive > * {
    opacity: 0.40;
}



.navbar.navbar-main .navbar-nav.buttons-nav li a span {
}

span.navbar-item-with-counter {
    position: relative; line-height: 40px; height: 40px; display: block;
}

span.navbar-item-with-counter .img-and-counter {
    width: 32px;
    position: relative; line-height: 40px; height: 40px;
    display: block;
    margin: auto;
}
@media (min-width: 1200px){
    span.navbar-item-with-counter .img-and-counter {
        float: left;
    }
}

span.navbar-item-with-counter .img-and-counter .navbar-item-counter {
    position: absolute; top: 0; left: 1px; width: 28px; text-align: center; font-size: 13px;
}
span.navbar-item-with-counter .button-text {
    display: block;
    float: left;
    margin-left: 5px;
}



.navbar-item-favourites {width: 110px; margin: auto;}
.navbar-item-favourites .navbar-item-counter {margin-top: -2px;}
.navbar-item-cart {width: 95px; margin: auto;}
.navbar-item-cart .navbar-item-counter {margin-top: 1px;}

@media (max-width: 1200px){

    .navbar-item-favourites {width: 40px; margin: auto;}
    .navbar-item-cart {width: 40px; margin: auto;}

    .navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__cities {
        width: 16.666666666%;
    }
    .navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__vacancies {
        width: 16.666666666%;
    }
    .navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__forum{
        width: 16.666666666%;
    }
    .navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__favourites {
        width: 16.666666666%;
    }
    .navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__cart {
        width: 16.666666666%;
    }
    .navbar.navbar-main .navbar-nav.buttons-nav li.navbar-main__login-and-profile {
        width: 16.666666667%;
    }

}






.navbar-social-icons {margin-left: 20px;}

.navbar-social-icons li.social-icon {
    width: 50px; height: 50px;
    display: block;
    line-height: 50px;
    margin-left: 5px;
    padding-top: 2.5px;
    }
.navbar-social-icons li.social-icon > a {
    width: 45px; height: 45px;
    display: block;
    margin: 0; padding: 0; line-height: 45px; text-align: center;
    border-radius: 50%;
    color: #FFF !important;
    font-size: 24px;
}
.navbar-social-icons li.social-icon a:hover {
    opacity: 0.8;
}

@media (max-width: 480px){
    .navbar-social-icons {margin-left: 10px;}
    .navbar-social-icons li.social-icon {
        width: 35px; height: 35px;
        display: block;
        line-height: 35px;
        margin-left: 5px;
        padding-top: 2.5px;
        }
    .navbar-social-icons li.social-icon > a {
        width: 30px; height: 30px;
        display: block;
        margin: 0; padding: 0; line-height: 30px; text-align: center;
        border-radius: 50%;
        color: #FFF !important;
        font-size: 16px;
    }
    .navbar-social-icons li.social-icon a:hover {
        opacity: 0.8;
    }
}



.navbar-social-icons li.social-icon.social-icon-facebook a {background-color: #3b5998;}
.navbar-social-icons li.social-icon.social-icon-twitter a {background-color: #00aced;}
.navbar-social-icons li.social-icon.social-icon-vkontakte a {background-color: #45668e;}
.navbar-social-icons li.social-icon.social-icon-instagram a {background-color: #3f729b;}
.navbar-social-icons li.social-icon.social-icon-odnoklassniki a {background-color: #ed812b;}





/* navbar-second */

.navbar-second {
    margin-top: 75px;
    min-height: 70px;
    padding: 10px 0 10px 0;
    border: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(17,160,158, 0.25);
    background-color: #FFF;
    box-shadow: 0 -1px 5px 2px rgba(17,160,158, 0.25);
    z-index: 900;
}

@media (max-width: 480px){
    .navbar-second {
        margin-top: 55px;
    }
}

@media (max-width: 360px){
    .navbar-second {
        min-height: 55px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
}




.navbar.navbar-second .navbar-nav.buttons-nav {height: 40px; line-height: 40px; margin-top: 5px; }
.navbar.navbar-second .navbar-nav.buttons-nav li {
    border-right: 1px solid rgba(17,160,158, 0.5); height: 40px; line-height: 40px;
    text-align: center;
    }
.navbar.navbar-second .navbar-nav.buttons-nav li:first-child {border-left: 1px solid rgba(17,160,158, 0.5);}
.navbar.navbar-second .navbar-nav.buttons-nav li a {height: 40px; line-height: 40px; padding: 0 15px;}
/*
.navbar.navbar-second .navbar-nav.buttons-nav li.inverse {}
*/
.navbar.navbar-second .navbar-nav.buttons-nav li.inverse a {color: #f05865;}
.navbar.navbar-second .navbar-nav.buttons-nav > li > a {color: #11a09e; background-color: transparent;}
/*
.navbar.navbar-second .navbar-nav.buttons-nav li.active {}
.navbar.navbar-second .navbar-nav.buttons-nav li.active a {}
.navbar.navbar-second .navbar-nav.buttons-nav li:hover {}
*/
.navbar.navbar-second .navbar-nav.buttons-nav li:hover a {opacity: 0.7;}
/*
.navbar.navbar-second .navbar-nav.buttons-nav li:active,
.navbar.navbar-second .navbar-nav.buttons-nav li:focus {}
.navbar.navbar-second .navbar-nav.buttons-nav li:active a,
.navbar.navbar-second .navbar-nav.buttons-nav li:focus a {}
*/




.navbar.navbar-second .navbar-nav.buttons-nav {width: 100%;}

.navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__cities {
    width: 16.666666666%;
}
.navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__vacancies {
    width: 16.666666666%;
}
.navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__forum{
    width: 16.666666666%;
}
.navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__favourites {
    width: 16.666666666%;
}
.navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__cart {
    width: 16.666666666%;
}
.navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__login-and-profile {
    width: 16.666666667%;
}


/*
@media (min-width: 480px){

    .navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__cities {
        width: 20%;
        overflow: hidden;
        text-align: left;
    }
    .navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__cities a {
        padding: 0 5px;
    }
    .navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__vacancies {
        width: 17%;
    }
    .navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__forum{
        width: 15%;
    }
    .navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__favourites {
        width: 17%;
    }
    .navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__cart {
        width: 15%;
    }
    .navbar.navbar-second .navbar-nav.buttons-nav li.navbar-main__login-and-profile {
        width: 16%;
    }
}
*/





@media (max-width: 480px){
    .city-selector-mobile-label {display: none;}
}



@media (max-width: 380px){

    .navbar.navbar-second .navbar-nav.buttons-nav {height: 30px; line-height: 30px;}

    .navbar.navbar-second .navbar-nav.buttons-nav li {border-right: 1px solid rgba(17,160,158, 0.3); height: 30px; line-height: 30px;}
    .navbar.navbar-second .navbar-nav.buttons-nav li:first-child {border-left: 1px solid rgba(17,160,158, 0.3);}
    .navbar.navbar-second .navbar-nav.buttons-nav li a {height: 30px; line-height: 30px; padding: 0 5px;}

    span.navbar-item-with-counter .img-and-counter {
        margin-top: -4px;
    }

}



/*
 Popup
 */
.city-selector-modal {}
.city-selector-modal .modal-header {background-color: #11a09e; color: #FFF;}
.city-selector-modal .modal-header a {color: #EEE;}
.city-selector-modal .modal-header a:hover {color: #FFF;}


/*
 * ========================================
 * Footer
 * ========================================
 */

.footer {background-color: #555; padding: 40px 0 40px 0; color: #D0D0D0;}

.footer .footer__first-row {margin-bottom: 40px; font-size: 12px;}
.footer .footer__first-row a {color: #FFF; }
.footer .footer__first-row a:hover {color: #EEE; text-decoration: none;}
.footer__title {margin-bottom: 5px;}
.footer__title a {color: #FFF; font-size: 28px; font-weight: 300;}

.footer .footer__second-row {padding: 0 0 40px 0;}
.footer .footer__second-row > div > .row > div {margin-bottom: 20px;}
.footer__column-caption {margin-bottom: 10px;}
.footer .footer__second-row h4 {display: inline; font-size: 11px; font-weight: 700; text-transform: uppercase; color: #EEE;
    border-bottom: 2px solid #EEE; }
.footer .footer__second-row ul {list-style: none; margin: 0; padding: 0;}
.footer .footer__second-row ul li {font-size: 12px;}
.footer .footer__second-row ul li a {color: #C0C0C0;}
.footer .footer__second-row ul li a:hover {color: #E0E0E0;}

.footer .footer__third-row {padding: 0 0 20px 0; font-size: 12px;}
.footer .footer__third-row a {color: #FFF;}
.footer .footer__third-row a:hover {color: #EEE; text-decoration: none;}









.welcome-image-and-title {}
.welcome-image-and-title img {width: 100%; height: auto;}

.welcome-image-and-title h4 {
    color: #11a09e;
    font-weight: bold;
}

.welcome-image-and-title h5 {
    color: #f05865;
    font-weight: bold;
}


@media (min-width: 768px){

    .welcome-image-and-title {
        width: 80%; margin: auto;
        position: relative;
    }

    .welcome-image-and-title img {width: 100%; height: auto;}

    .welcome-image-and-title h4 {
        position: absolute;
        left: 28%;
        top: 24%;
        color: #11a09e;
        font-weight: bold;
    }

    .welcome-image-and-title h5 {
        position: absolute;
        left: 26%;
        top: 36%;
        color: #f05865;
        font-weight: bold;
    }

}
@media (min-width: 992px){}
@media (min-width: 1200px){
    .welcome-image-and-title h4 {
    font-size: 24px;
    }

    .welcome-image-and-title h5 {
    font-size: 18px;
    }
}