		<header class="header">
			<div class="container">
				<div class="header__top">

					<div class="logo">
						<a class="logo__link" href="">logo</a>
					</div>

					<ul class="nav__header">
						<li><a href="" class="nav__link">home</a></li>
						<li><a href="" class="nav__link">about</a></li>
						<li><a href="" class="nav__link">servises</a></li>
						<li><a href="" class="nav__link">works</a></li>
						<li><a href="" class="nav__link">contacts</a></li>
					</ul>
				</div>

				<div class="header__text">
					<h1>creative digital project</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ipsa, voluptas delectus sed, assumenda.</p>
				</div>
			</div>
		</header>