* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {  
  font-family:Lucida Sans Unicode, Lucida Grande, sans-serif ;
  margin: 0;

  border: 10px solid #2b81ac;
  background:#3399cc;
  color: white;
}

h1 {  
 padding: 0;
 font-size: 2rem;
 margin-bottom: 20px;
} 

.bottom {  
  margin: 0;
  padding: 0;
  font-size: 1rem; 
}

.ba-sities li p {
  text-align: center;
  margin: 0;
  padding: 0;

}

.ba-sities span { 
  display: block;
  margin:0;
  padding: 0;
  opacity: 0.5;

}

.container {
  width: 65%;
  margin: auto;

}

.ba-sities { 
 
  display: block;
  width: 100%;
  border: 3px solid white;
  padding: 0px;
  margin:0 0 40px 0;
  box-sizing: content-box;
  font-size: 0;
}


.ba-sities li {  

  display: inline-block;
  border:3px solid white;

 
}

.ba-sities > li > a {   
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin:0;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.ba-sities:hover li > a { 
  opacity: 0.5;
  transition: all .1s ease-in;
} 


.ba-sities li> a:hover {
  opacity: 1;
  transition: all .1s ease-in;
}


.lisbon a {
  background-color: #3399cc;
  
}

.paris a { 

  background-color:#33cccc;
}

.belgrad a { 

  background-color:#996699;
}

.moscow a{

  background-color:#c24747;
}

.tel a{

  background-color:#e2674a;
}

.cair a{
 
  background-color:#ffcc66;
}

.new-y a{


  background-color:#99cc99;
}

.new-d a{
  
  background-color:#669999;
}

.san a{
 
  background-color:#cc6699;
}

.tokyo a{
  
 
  background-color:#339966;
}

.syd a{
 
  background-color:#666699;
}




.lisbon {

  width: 50%;
}

.paris { 
  width: 25%;

}

.belgrad { 
  width: 25%;
  
}

.moscow{
  width: 25%;

}

.tel {
  width: 25%;
  
}

.cair {
  width: 25%;
  
}

.new-y {

  width: 25%;

}

.new-d {
  width: 25%;
  
}

.san {
  width: 50%;
  
}

.tokyo {
  width: 25%;

}

.syd {
  width: 100%;
  margin-bottom: 0;

}

