* {
  box-sizing: border-box;
}

html, body {
/*font-family: ;
font-size: ;*/
}

body {
color: white;
border: 5px solid white;
background:#3399cc;
margin: 0px;
}





h1 {  
 font-size: 2rem;
 margin: 0px;
 padding: 20px;
} 


p {  
  font-size: 1.5rem; 
  margin: 20px;


}
.main {
  width: 1140px;
  margin: auto;
  padding: 0;
}
.ba-sities { 
 
  display: block;
  border: 3px solid white;
  padding: 0px;
  margin: 0;
  box-sizing: content-box;
  font-size: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}


.ba-sities > li > a {   
  display: inline-block;
  list-style-type: disc;

  text-decoration: none;
  color: white;
  padding: 15px;
  margin:0;
  font-family: sans-serif;
  font-size: 34px;

}

li {  text-align: center;
  display: inline-block;
  border:3px solid white;
}
.ba-sities li a span {
  display: block;
  font-size: 1.5rem;
  opacity: 0.5;
  margin-top: 15px;

}


.ba-sities:hover li > a { 
  opacity: 0.5;
} 


.ba-sities li> a:hover {
  opacity: 1;
}


.lisbon {
  background-color: #3399cc;
  width: 50%;
}

.paris { 
  width: 25%;
  background-color:#33cccc;
}

.belgrad  { 
  width: 25%;
  background-color:#996699;
}

.moscow  {
  width: 25%;
  background-color:#c24747;
}

.tel {
  width: 25%;
  background-color:#e2674a;
}

.cair {
  width: 25%;
  background-color:#ffcc66;
}

.new-y {

  width: 25%;
  background-color:#99cc99;
}

.new-d {
  width: 25%;
  background-color:#669999;
}

.san {
  width: 50%;
  background-color:#cc6699;
}

.tokyo {
  width: 25%;
  box-sizing: border-box;
  background-color:#339966;
}

.syd {
  width: 100%;
  background-color:#666699;
}
