
body {
  font-family:sans-serif;
  font-size: 1rem;
  background-color:  #222222;
}
.main {
  width:1112px;
  height: 707px;
  border:1.3rem solid white;
  margin:-8px 180px;
  background-color: #3b3f45;
}

h1, h2  {  
  background-color:#4a4f56;
  text-align:center;
  color:#eb7e7f;
  padding:1.2rem;
  margin:0;
}
h1{

  font-size:2rem;
  font-weight:bolder;

}
h2{
  margin-top: -25px;
  font-size: 1.5rem;
  font-weight:normal;
  
}

ul {
  display:inline-block;
  width: 746px;
  height:362px;
  padding: 0px;
  margin: 35px 184px 35px;

}

li {

  list-style: none;
  width: 746px; 
  height: 60px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #88839e;
  

}

[type="checkbox"]
{ 
  display:inline-block;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin:15px;  
  vertical-align: middle;
}

a {
  background-color: #88839e;
  border-top: 2px solid white; 
  border-bottom: 2px solid white;
  display: block;
  font-size: 1.6rem;
  text-decoration:none;
  color: white;
width: 746px; 
  height: 60px;
  padding: 0px;
  margin: 0px;
}

em {
  vertical-align: middle;
  font-size: 0.9rem; 

}

a:active {
  color:#eb7e7f; 

} 

a:hover {
  background: #625e77;
  border-top: 2px solid white;
  border-bottom:2px solid white;
}

a :checked ~* { 
  text-decoration: line-through;
  opacity: 0.5px;
}
 
 

#bottom {
  width: 746px; 
  height: 60px;
  font-size: 1.6rem;
  margin: 0px 184px;
  padding: 15px;
  background-color:#4a4f56;
  color:#eb7e7f;
}

#bottom :checked {
  border:2px solid #eb7e7f;
}