
body {
    font-family:sans-serif;
    font-size: 24px;
    background-color:  #222222;
  }
.toogez {
  width:1112px;
  height: 707px;
  border:22px solid white;
  margin:-8px 180px;
  background-color: #3b3f45;
}
.top{
  background-color:#4a4f56;
  height: 70px;
  padding: 20px 0px;
  color:#eb7e7f;
}
h1, h2 {
  text-align:center;
   }
h1{
  margin-top: 0px;
  font-size: 34px;
  font-weight:bolder;
  letter-spacing:1.1px;
}
h2{
  margin-top: -20px;
  font-size: 24px;
  font-weight:normal;
  letter-spacing:-0.5px;
}
.doun {
color:#eb7e7f; 
text-align:center;
width: 746px;
height: 68px;
margin-left:184px;
padding: 0.2px;
background-color:#4a4f56;
}
ul {
width: 746px;
height:362px;
padding: 0px;
margin: 35px 184px 35px;

}
li {
  list-style: none;
  width: 746px;
  box-sizing: border-box;
  padding: 14px;
  background-color: #88839e;
  vertical-align: middle; 
  color: white;
  border-top: 2px solid #88839e;
  border-bottom:2px solid #88839e;
}
span { 
  vertical-align: middle;
  display: inline-block;
  width: 96%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
 }
li:hover  {
  
  color:opacity: 0.5;
  border-top: 2px solid white;
  border-bottom:2px solid white;

    }


input:checked +label>span
{ 
  text-decoration: line-through;
  opacity: 0.5;
   }

li em {
  vertical-align: middle;
  font-size: 16px;
}
