@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Poppins:200&display=swap');
*{
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	background: red;
	font-family: 'Poppins', sans-serif, 'Luckiest Guy', cursive;
	border:5px solid red;
	color: white;
}
.portfolio {

	width: 100%;
.container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
}
	li, a, p {
		font-family: 'Poppins', sans-serif;
		font-size: 1rem;
		text-decoration:none;
		list-style: none;
	}

	ul {
		list-style: none;
	}
	.nav__list{
		width: 50px;
	}
}