* {
	box-sizing: border-box;
	margin: 0;
	border: none;
} 

html, body {
	line-height: 1vh;
	font-size: 100%;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color:#e2e2e2;
	color: white;
}
.top__text {
	position: absolute;
	top:-10px;
	right: -10px;
	
}

.container {
	width: 100%;
	max-width: 1120px;
	margin: auto;

}

.content {	
	padding-top: 50px;
	width: 100%;
}


.row {	
	display: flex;
	justify-content: space-between;
	align-items: stretch; 
	width: 100%;
	height: 100%;
	max-height: 540px;
	margin-bottom: 2%;

}

.box__width* 
{
	width: 100%;
}

//BIG BLOCK
.box__width__2__3 { 
	display: inline-block;
	width: calc((32% *2) + 2%);
	min-height: 540px;
	height: 100%;
	position: relative;
}

.box__link__2__3 {
	background-color: white;	
	display: block; 
	text-decoration: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	right: 0;
	bottom:0;
	left: 0;
	z-index: 1;
	:hover {
	background: url();
	}
}

.img__1 {
	height: 100%;
	width: 100%;	
}

.info__1 {
	position: absolute;
	top:0;
	right: 0;
	bottom:0;
	left: 0;
	z-index: 2;
	color: white;
	
	.name__1 {
		position: absolute;
		top:0;
		right: 0;
		bottom:0;
		left: 0;

		padding-top: 60%;
		font-size: 2rem;
	}
	.box__width__2__3__span {
		display: block;
		padding-top: 50%;
		padding: 2%;
		

	}

}

//SMALL BLOCK
.box__width__1__3 {
	display: inline-block;
	width: 32%;
	min-height: 540px;
	height: 100%;
	position: relative;
	
}	

.box__link__1__3 { background-color: white;
	display: block; 
	text-decoration: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	right: 0;
	bottom:0;
	left: 0;
	z-index: 1;
	
	:hover {
	background: url();
	}

}

.img__2,
.img__3,
.img__4,
.img__5 {
	height: 50%;
	width: 100%;
}

.info {
	position: absolute;
	top:0;
	right: 0;
	bottom:0;
	left: 0;
	z-index: 2;
	color: black;
	
	.name {
		position: absolute;
		top:0;
		right: 0;
		bottom:0;
		left: 0;
		padding-top: 90%;
		font-size: 2rem;
	}
	.box__width__1__3__span {
		display: block;
		padding-top: 80%;
		padding-left: 2%;
		
	}

	.layer {
		position: absolute;
		bottom: 2%;
		left:2%;	
	}	
}
