* {
	box-sizing: border-box;
	margin: 0;
	border: none;
} 

html, body {
	font-size: 100%;
	min-height: 100vh;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color:#e2e2e2;
	text-transform:uppercase;

}


.container {
	width: 100%;
	max-width: 1120px;
	margin: auto;
	padding-top: 40px;

}

.top__text {
	position: absolute;
	top:-60px;
	right: 0px;
	
}
.row {	
	display: flex;
	justify-content: space-between;
	align-items: stretch; 
	width: 100%;
	margin-bottom: 2%;

}


.box__width__2__3 { 
	display: inline-block;
	width: calc((32% *2) + 2%);
:hover {
	opacity:0.7;
}
}

.box__link__2__3 {
	background-color: white;	
	display: block; 
	text-decoration: none;

}

.img__1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	right:0;
	bottom:0;
	left:0;
	object-fit: cover;	
}

.img__2,
.img__3,
.img__4,
.img__5 {	
	width: 100%;
	height: 50%;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	object-fit: cover;	
}

.wrapping1 {
	position: relative;
	width: 100%;
	padding-top: 68%;

}
.wrapping2 {
	position: relative;
	padding-top: 140%;
	width: 100%;


}
.content1 {
	width: 60%;
	bottom:20px;
	left:10px;
	position: absolute;
	z-index: 2;
}
.content2 {
	width: 79%;
	bottom:0px;
	left:10px;
	position: absolute;
	padding: 10px;
}

.text1 {
	color: white;
	font-size: 26px;
	line-height: 1.6;
}
.text2 {

	font-size: 18px;
	color: black;
	line-height: 1.6;
	margin-bottom: 50px;
}

.span1 {
	color: #fff;
line-height: 1.6;
font-size: 12px; 
display: block;
margin-bottom: 15px;
}
.span2 {
 	color: #818181;
line-height: 1.6;
font-size: 12px; 
display: block;
margin-bottom: 15px;
} 


//SMALL BLOCK
.box__width__1__3 {
	display: inline-block;
	width: 32%;
	:hover {
	opacity:0.7;
}
	
}	

.box__link__1__3 { 
	background-color: white;
	display: block; 
	text-decoration: none;
	height: 100%;
}


//LOAD
.load
 {
	margin:auto;
	display: flex;
	justify-content: center;

}
.text__6 {
	color: grey;
	display: inline-block;

}
.img__6 {
	margin-right: 10px;
}