* {
    margin: 0;
    padding: 0;
   
}


html {
    line-height: 1.2;
    font-size: 100%;
}

body {
    line-height: 1px;
}
main {

    width: 100%;
    
}


.container1 {

	max-width: 640px;
	height: 100%;
	max-height: 640px;
	margin: auto;
	border: 15px solid #7e919c;
	background: white;
    clear: both;
 
 
}

.container1 .row1, .container1 .row2 {
     width: 100%;
    height: 80px;
   
  
   
}


.container1 .row1__cell {
    float: left;
    width: 12.5%;
    min-height: 100%;
    margin-right: 12.5%;
    background-color: #7e919c;
}

.container1 .row2__cell {
    float: right;
    width: 12.5%;
    min-height: 100%;
    margin-left: 12.5%;
    background-color: #7e919c;

}

