* {	
	box-sizing: border-box;


}

html, body {    
	min-height: 100vh;
	line-height: 1.15;
}

body {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-size: 12px;
	background-color:#808080;
	margin: 0;
	padding: 10px;
	
}

.container {

	width: 1600px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;

	
	&__* {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

	}

	&__rose {
		width: 800px;
		height: 600px;
		background: rgba(255,0,132,1);
		
		margin-right: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		
		.top__a {
			color: #ea355a;
			text-decoration: none;
			font-weight: 700;
			font-size: 15px;


		}
		.top__p {
			color: #4b5052;
			font-size: 14px;
			margin: 0;
			margin-bottom: 25px;
			opacity: .6;
			
		}
		.midl__p {color: #4b5052;
			opacity: .6;
			margin: 0;
			font-size: 14px;

		}
		
		
		.form {
			max-width: 461px;
			width: 100%;
			
			padding:15px 15px 20px;
			background-color: #ffffff;
			border-radius: 3px;

			
			.long { 
				width: 100%;

			}

			// :active, :hover, :focus 
			// 	{
			// 		border: 0.5px solid #ea355a;
			// 	}


			.top {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: baseline;
				margin-bottom: 25px;


				&__img {
					width: 5%;
					height: 5%;

				}	

				&__h1 {
					width: 90%;
					text-align: center;
					padding-right: 7%;
					font-size: 1.4rem;
					color: black;
					margin: 0;
				}

			}

			.input {



				&__submit {
					border: none; outline: none;
					background-color: #f0f0f0;
					margin-bottom: 20px;
					padding: 15px;
					border-radius: 3px;
					box-shadow: 0 5px 5px 0 #bd1962;	
					cursor: pointer;
					background-color: #ea355a;
					color: white;
					font-size: 16px;
					font-weight: 600;
					width: 100%;


				}

				&__short {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: stretch;
					height: 48px;
					margin-bottom: 15px;
					:active, :hover, :focus 
					{
						border: 0.5px solid #ea355a;
					}


					* {	
						border: 0.5px solid #f0f0f0;
						background-color: #f0f0f0;
						margin-bottom: 20px;
						padding: 15px; 
						border-radius: 3px;
						color: #ea355a;
						font-size: 16px;
						width: 48%;
						height: 100%;


					}

				}


				&__long	{

					border: 0.5px solid #f0f0f0;
					background-color: #f0f0f0;
					margin-bottom: 15px;
					padding: 15px;
					border-radius: 3px;
					color: #ea355a;
					font-size: 16px;
					width: 100%;




				}

			}

		}

	}



	&__green {
		max-width: 800px;
		width: 100%;
		
		
		background: url('../img/main2.png') no-repeat 100% 100%;
		box-shadow: 0 0 3px rgba(0, 0, 0, .5);
		margin: auto;
		border: 1px solid #ea355a;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&__form {
			width: 338px;
			height: 536px;
			padding: 0;
			background-color: #ffffff; 
			color: grey;

			

			&__yelow {
				margin: 0;
				padding: 0 25px 0 25px;
				background-color: #efe4aa;
				width: 100%;
				height: 72px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				* {
					font-weight: 700;
					line-height: 1.4; 
					opacity: .5;
					font-family: 'Montserrat', 'Arial', sans-serif;

				}



				.top__h1 {

					font-size: 16px;
					margin:0;

				}

				.top__p {

					font-size: 34px;
					margin:0;

				}	
				.span {
					font-size: 14px;
					margin:0;
					display: block;
					
				}			

			}




			.content {
				width: 100%;
				padding: 50px 25px 20px 25px;
				font-size: 10px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: stretch;



				&__label {

					margin-bottom: 10px;
					opacity: .6;
					font-weight: 700;
					font-size: 12px;


				}

				&__text {
					width: 100%;
					height: 38px;
					color: grey;
					margin-bottom: 34px;

				}

				&__box2{

					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: baseline;
					width: 100%;
					height: 38px;
					margin-bottom: 34px;
					color: grey;



				
					&__select__1 {
						width: 60%;
						margin:0;
						height: 38px;
						color: grey;
						
						// background: url('..img/select.png') no-repeat transparent;

					}

					&__select__2 {
						width: 35%;
						margin: 0;
						height: 38px;
						color: grey;
					}
				}
			

					&__box3 {
						height: 38px;
						width: 100%;
						font-size: 14px;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: flex-end;
						margin-bottom: 35px;

						&__text4 {
							width: 30%;
							height: 100%;

						}

						&__text5 {

							display: block;
							padding: 15px 0 15px 0;
							margin: 0;						
							height: 100%;
							width: 65%;
							text-align: left;

							.doun__a {
								color: grey;
								text-shadow: 0 0 1px grey;
							}


						}

					}


					&__line {
						width: 100%;
						color: grey;
						margin-top: 0px;
						margin-bottom: 28px;
					}

					&__submit {
						display: block;
						width: 100%;
						height: 40px;
						margin: 0;
						margin-bottom: 10px;
						color: #ffffff;
						background-color: #26b168;
						font-size: 20px;
						font-weight: 900;
						border: none;
						box-shadow: 0 0 3px grey;
						cursor: pointer;
					}

					.after__a {
						color: grey;
						text-align: center;
						font-size: 14px;
						font-weight: 700;
						letter-spacing: 1px;
						line-height: 1.5;
						text-shadow: 0 0 1px grey;
						margin:0;


					}

				}


			}

		}
	}













