* {	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,body
{
	height: 100vh;
	line-height: 1.15;
}

body 
{
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-size: 12px;
	background-color:#808080;
	margin: 0;
	padding: 10px;
}

.container 
{
	width: 1600px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	
	&__* 
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__rose
	{
		max-width: 800px;
		width: 100%;
		height: 600px;
		background: rgba(255,0,132,1);
		margin-right: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		
		.top__text 
		{
			color: #4b5052;
			font-size: 14px;
			margin: 0;
			margin-bottom: 15px;
			opacity: .6;
		}

		.midl__text 
		{
			color: #4b5052;
			opacity: .6;
			margin: 0;
			font-size: 14px;
		}
		
		.form 
		{
			max-width: 461px;
			width: 100%;
			padding:15px 15px 25px;
			background-color: #ffffff;
			border-radius: 3px;

			.top 
			{
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: baseline;
				margin-bottom: 25px;

				&__img 
				{
					width: 25px;
					height: 25px;
					margin-right: 10px;
				}	
				&__h1 
				{
					width: 100%;
					text-align: left;
					font-size: 1.4rem;
					color: black;
					margin: 0;
				}
				&__link 
				{
					color: #ea355a;
					text-decoration: none;
					font-weight: 700;
					font-size: 15px;
				}
			}
			.long 
			{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: stretch;
				margin: 0;
				width: 100%;
				height: 120px;
				margin-bottom: 25px;
			}

			.long__label 
			{
				
				width: 100%;
				height: 48px;
				
			}

			.long__input	
			{
				border: 0.5px solid #f0f0f0;
				background-color: #f0f0f0;
				border-radius: 3px;
				color: #ea355a;
				font-size: 16px;
				width: 100%;
				height: 48px;
				padding-left: 10px;
			}

			.long__label 
			{:hover 
				{
					border: 0.5px solid #ea355a;
					cursor: pointer;
					transition: all .1s ease-in;
				}
			}

			.short 
			{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: stretch;
				margin-bottom: 25px;


				&__label {

					width: 48%;
					height: 48px;

				}


				&__label {

					:hover {
						border: 0.5px solid #ea355a;
						cursor: pointer;
						transition: all .1s ease-in;
					}
				}
			}

			.short__input 
			{	
				border: 0.5px solid #f0f0f0;
				background-color: #f0f0f0;
				border-radius: 3px;
				color: #ea355a;
				font-size: 16px;
				width: 100%;
				height: 100%;
				padding-left: 10px;

			}

			.input__submit {
				border: none; outline: none;
				border-radius: 3px;
				box-shadow: 0 5px 5px 0 #bd1962;	
				cursor: pointer;
				background-color: #ea355a;
				color: white;
				font-size: 16px;
				font-weight: 600;
				width: 100%;
				height: 50px;
				margin-bottom: 25px;
			}
			.bottom__text {
				color: #4b5052;
				font-size: 14px;
				margin: 0;
				opacity: .6;
			}

			.bottom__link {
				color: #ea355a;
				text-decoration: none;
				font-weight: 700;
				font-size: 15px;

			}

		}

	}





&__green 
{
	max-width: 800px;
	width: 100%;
	min-height: 600px;
	background: url('../img/main2.png') no-repeat 100% 100%;
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	margin: auto;
	border: 1px solid #ea355a;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.form 
	{
	max-width: 338px;
	width: 100%;
	height: 536px;
	padding: 0;
	background-color: #ffffff; 
	color: grey;

	.yelow 
		{
	margin: 0;
	padding: 10px 25px 10px 25px;
	background-color: #efe4aa;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	* 
	{
	font-weight: 700;
	line-height: 1.4; 
	opacity: .5;
	font-family: 'Montserrat', 'Arial', sans-serif;

		} 
	}

	.top__h1
	{
	font-size: 18px;
	margin:0;

	}

	.top__text 
	{
	font-size: 38px;
	margin:0;
		}	

	.top__span {
	font-size: 16px;
	margin:0;
	display: block;
		}

	.text__before 
		{
	margin-bottom: 10px;
	color: grey;
	opacity: .6;
		}	

	.content 
		{
	width: 100%;
	padding: 50px 25px 20px 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch; 
		}

	.box--1 
	{						
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	margin-bottom: 20px; 

		}

	.box--1__label 
	{
	width: 100%;
	height: 100%;
	line-height: 25px;

	:hover 
	{
	border: 1px solid blue;
		}
	}

	.box--1__input 
	{
	width: 100%;
	height: 38px;
	border: 1px solid grey;
	padding-left: 10px;
	color: grey;
	font-size: 14px;
	opacity: .6;

		}

	.box--2 
	{						
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: 55px;
	margin-bottom: 20px; 

		}


	.box--2__label--1	{
	width: 65%;
	height: 62px;
			
	&::after
	{

	top: 38px;
	left: 157px;}

 	}
			
.box--2__label--2 {
	width: 30%;
	height: 38px;

	&::after
	{

	top: 13px;
	left: 57px;}

}

	.select--1,
	.select--2 
	{
	width: 100%;
	height: 38px;
	border: 1px solid grey;
	padding-left: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

				}

	.box--2__label--1,
	.box--2__label--2 {

	& > *:hover {
	border: 1px solid blue;
					} 
	position: relative;
	display: inline-block;
	line-height: 25px;

	&::after
		{
	content: "";
	position: absolute;
	display: block;
	$size: 2px;
	width: $size;
	height: $size;
	border: 5px solid grey;
	border-left-color: transparent;
	border-top-color: transparent;
	transform: rotate(45deg) translateY(-50%);
	pointer-events: none;


		}

	& > * 
	{
	background-color: white;
	color: grey;
	font-size: 14px;
	opacity: .6;

	}
}

.box--3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: 55px;
	margin-bottom: 20px;


		}

.box--3__label {
	width: 20%;
	height: 62px;
	position: relative;
	display: inline-block;
	line-height: 25px;

	& > *:hover {
border: 1px solid blue;
	} 
}

.box--3__input	{
	width: 100%;
	height: 38px;
	border: 1px solid grey;
	padding-left: 10px;
	color: grey;
	font-size: 14px;
	opacity: .6;

				}


.box--3__text {
	display: inline-block;
	width: 80%;
	height:38px;
	font-size: 14px;
	color: grey;
	opacity: .6;
	
	padding: 12px 5px;
	text-align: right;
					
.doun__link 
{
	color: grey;
	text-shadow: 0 0 1px grey;
		}
	}

.content__line 
{
	width: 100%;
	color: grey;
	margin-top: 0px;
	margin-bottom: 28px;
}

.input__submit 
{
	display: block;
	width: 100%;
	height: 40px;
	margin: 0;
	margin-bottom: 10px;
	color: #ffffff;
	background-color: #26b168;
	font-size: 20px;
	font-weight: 900;
	border: none;
	box-shadow: 0 0 3px grey;
	cursor: pointer;
	}

	.bottom__text 
	{
	text-align: center;
}

	.bottom__link 
	{
	display: inline;	
	color: grey;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.5;
	text-shadow: 0 0 1px grey;

				}
			}

		}
		
	}
	
		

		




