@import "variables";
@import "mixins";
@import "common";
@import "header";
@import "second";
@import "how";
@import "third";
@import "fourth";
@import "fifth";

//HEADER
//SECOND
//HOW
//THIRD
//FOUR
//FOOTER

	

.fifth {
			background-image: url("../img/testimonials-bg.png");
			height: 100%;
			min-height:700px;
			width: 100%;
			display: flex;
			justify-content: center;
		}


